# Flatiron Phase II Project
### King's County 

## Introduction 

In this cumulative lab you'll perform a full linear regression analysis and report the findings of your final model, including both predictive model performance metrics and interpretation of fitted model parameters.

## Objectives

You will be able to:

* Perform linear regression analysis with iterative modeling
* Evaluate your final model and interpret its predictive performance metrics
* Apply an inferential lens to interpret relationships between variables identified by the model

## Your Task: Develop a LEGO Pricing Algorithm

![sold](images/SOLD.jpg)

### Business Understanding

You just got hired by LEGO! Your first project is going to be to develop a pricing algorithm to help set a target price for new LEGO sets that are released to market. The goal is to save the company some time and to help ensure consistency in pricing between new products and past products.

The main purpose of this algorithm is *predictive*, meaning that **your model should be able to take in attributes of a LEGO set that does not yet have a set price, and to predict a good price**. The effectiveness of your predictive model will be measured by how well it predicts prices in our test set, where we know what the actual prices were but the model does not.

The secondary purpose of this algorithm is *inferential*, meaning that **your model should be able to tell us something about the relationship between the attributes of a LEGO set and its price**. You will apply your knowledge of statistics to include appropriate caveats about these relationships.

### Data Understanding

You have access to a dataset containing over 700 LEGO sets released in the past, including attributes of those sets as well as their prices. You can assume that the numeric attributes in this dataset have already been preprocessed appropriately for modeling (i.e. that there are no missing or invalid values), while the text attributes are simply there for your visual inspection and should not be used for modeling. Also, note that some of these attributes cannot be used in your analysis because they will be unavailable for future LEGO products or are otherwise irrelevant.

You do not need to worry about inflation or differences in currency; just predict the same kinds of prices as are present in the past data, which have already been converted to USD.

### Basic Outline

#### 1. Exploratory Data Anaylsis (EDA) & Data Cleaning

Load and Explore the data. Then, clean and prepare data for modelling. Include feature engineering to enhance analysis.

#### 2. Regression Modeling

You'll start modeling by choosing the feature that is most correlated with our target, and build and evaluate a linear regression model with just that feature.

Now, add in the rest of the relevant numeric features of the training data, and compare that model's performance to the performance of the baseline model.

Using statistical properties of the fitted model, the `sklearn.feature_selection` submodule, and some custom code, find the combination of relevant numeric features that produces the best scores.

#### 3. Regression Results


Using the best features selected in the previous step, create a final model, fit it on all rows of the training dataset, and evaluate it on all rows of the test dataset in terms of both r-squared and RMSE.

Determine what, if any, understanding of the underlying relationship between variables can be determined with this model. This means you will need to interpret the model coefficients as well as checking whether the assumptions of linear regression have been met.

## 1. Exploratory Data Analysis (EDA)

### Loading the Data

In the cells below, we load both the train and test datasets for you. Remember, both of these datasets contain prices, but we are using the test set as a stand-in for future LEGO products where the price has not yet been determined. The model will be trained on just the train set, then we will compare its predictions on the test set to the actual prices on the test set.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
df = pd.read_csv("data/kc_house_data.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  object
 2   price          21597 non-null  float64
 3   bedrooms       21597 non-null  int64
 4   bathrooms      21597 non-null  float64
 5   sqft_living    21597 non-null  int64
 6   sqft_lot       21597 non-null  int64
 7   floors         21597 non-null  float64
 8   waterfront     19221 non-null  object
 9   view           21534 non-null  object
 10  condition      21597 non-null  object
 11  grade          21597 non-null  object
 12  sqft_above     21597 non-null  int64
 13  sqft_basement  21597 non-null  object
 14  yr_built       21597 non-null  int64
 15  yr_renovated   17755 non-null  float64
 16  zipcode        21597 non-null  int64
 17  lat            21597 non-null  float64
 18  long           21597 non-null  float64
 19  sqft_living15  21597 non-null  int64
 20  sqft_lot15     21597 non-null  int64
dtypes: float64(6), int64(9), object(6)
memory usage: 3.5+ MB

There are 21597 rows in the dataframe, each row representing a home sale in Kings County.
Each row has twenty (20) columns, each column representing a feature of the home sale.

By looking at the Non-Null count, we know columns **waterfront, view**, and **yr_renovated** have missing data.

We also note the columns curiously stored as objects,such as **date** and **sqft_basement**, which will need further investigation.

The column names are mostly self-explanatory. Below are further definitions for two of the columns that weren't as clear. For even further defintions, please see *column_names.md* included with the data in the Data folder.

>**BUILDING CONDITION**
>    	Relative to age and grade. Coded 1-5.
>
>1 = Poor- Worn out. Repair and overhaul needed on painted surfaces, roofing, plumbing, heating and numerous functional inadequacies. >Excessive deferred maintenance and abuse, limited value-in-use, approaching abandonment or major reconstruction; reuse or change in >occupancy is imminent. Effective age is near the end of the scale regardless of the actual chronological age.
>
>2 = Fair- Badly worn. Much repair needed. Many items need refinishing or overhauling, deferred maintenance obvious, inadequate building >utility and systems all shortening the life expectancy and increasing the effective age.
>
>3 = Average- Some evidence of deferred maintenance and normal obsolescence with age in that a few minor repairs are needed, along with some refinishing. All major components still functional and contributing toward an extended life expectancy. Effective age and utility is standard for like properties of its class and usage.
>
>4 = Good- No obvious maintenance required but neither is everything new. Appearance and utility are above the standard and the overall effective age will be lower than the typical property.
>
>5= Very Good- All items well maintained, many having been overhauled and repaired as they have shown signs of wear, increasing the life expectancy and lowering the effective age with little deterioration or obsolescence evident with a high degree of utility.
>


>**BUILDING GRADE**
>    	Represents the construction quality of improvements. Grades run from grade 1 to 13. 
        Generally defined as:
>
>1-3 Falls short of minimum building standards. Normally cabin or inferior structure.
>
>4 Generally older, low quality construction. Does not meet code.
>
>5 Low construction costs and workmanship. Small, simple design.
>
>6 Lowest grade currently meeting building code. Low quality materials and simple designs.
>
>7 Average grade of construction and design. Commonly seen in plats and older sub-divisions.
>
>8 Just above average in construction and design. Usually better materials in both the exterior and interior finish work.
>
>9 Better architectural design with extra interior and exterior design and quality.
>
>10 Homes of this quality generally have high quality features. Finish work is better and more design quality is seen in the floor plans. Generally have a larger square footage.
>
>11 Custom design and higher quality finish work with added amenities of solid woods, bathroom fixtures and more luxurious options.
>
>12 Custom design and excellent builders. All materials are of the highest quality and all conveniences are present.
>
>13 Generally custom designed and built. Mansion level. Large amount of highest quality cabinet work, wood trim, marble, entry ways etc.



### Data Cleaning & Feature Engineering

In [4]:
import numpy as np

import seaborn as sns
import statsmodels.api as sm
import scipy.stats as stats

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from statsmodels.formula.api import ols
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.model_selection import cross_validate, ShuffleSplit

In [10]:
df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,Average,7 Average,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,NONE,Average,7 Average,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,2/25/2015,180000.0,2,1.00,770,10000,1.0,NO,NONE,Average,6 Low Average,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,12/9/2014,604000.0,4,3.00,1960,5000,1.0,NO,NONE,Very Good,7 Average,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,2/18/2015,510000.0,3,2.00,1680,8080,1.0,NO,NONE,Average,8 Good,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,5/21/2014,360000.0,3,2.50,1530,1131,3.0,NO,NONE,Average,8 Good,1530,0.0,2009,0.0,98103,47.6993,-122.346,1530,1509
21593,2/23/2015,400000.0,4,2.50,2310,5813,2.0,NO,NONE,Average,8 Good,2310,0.0,2014,0.0,98146,47.5107,-122.362,1830,7200
21594,6/23/2014,402101.0,2,0.75,1020,1350,2.0,NO,NONE,Average,7 Average,1020,0.0,2009,0.0,98144,47.5944,-122.299,1020,2007
21595,1/16/2015,400000.0,3,2.50,1600,2388,2.0,NaN,NONE,Average,8 Good,1600,0.0,2004,0.0,98027,47.5345,-122.069,1410,1287
21596,10/15/2014,325000.0,2,0.75,1020,1076,2.0,NO,NONE,Average,7 Average,1020,0.0,2008,0.0,98144,47.5941,-122.299,1020,1357

In [9]:
# drop ID column as we don't need it

df = df.drop(['id'], axis=1)
df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,Average,7 Average,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,NONE,Average,7 Average,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,2/25/2015,180000.0,2,1.00,770,10000,1.0,NO,NONE,Average,6 Low Average,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,12/9/2014,604000.0,4,3.00,1960,5000,1.0,NO,NONE,Very Good,7 Average,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,2/18/2015,510000.0,3,2.00,1680,8080,1.0,NO,NONE,Average,8 Good,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,5/21/2014,360000.0,3,2.50,1530,1131,3.0,NO,NONE,Average,8 Good,1530,0.0,2009,0.0,98103,47.6993,-122.346,1530,1509
21593,2/23/2015,400000.0,4,2.50,2310,5813,2.0,NO,NONE,Average,8 Good,2310,0.0,2014,0.0,98146,47.5107,-122.362,1830,7200
21594,6/23/2014,402101.0,2,0.75,1020,1350,2.0,NO,NONE,Average,7 Average,1020,0.0,2009,0.0,98144,47.5944,-122.299,1020,2007
21595,1/16/2015,400000.0,3,2.50,1600,2388,2.0,NaN,NONE,Average,8 Good,1600,0.0,2004,0.0,98027,47.5345,-122.069,1410,1287
21596,10/15/2014,325000.0,2,0.75,1020,1076,2.0,NO,NONE,Average,7 Average,1020,0.0,2008,0.0,98144,47.5941,-122.299,1020,1357

In [11]:
# change the date column from a string to a datetime datatype

df['date'] = pd.to_datetime(df['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           21597 non-null  datetime64[ns]
 1   price          21597 non-null  float64
 2   bedrooms       21597 non-null  int64
 3   bathrooms      21597 non-null  float64
 4   sqft_living    21597 non-null  int64
 5   sqft_lot       21597 non-null  int64
 6   floors         21597 non-null  float64
 7   waterfront     19221 non-null  object
 8   view           21534 non-null  object
 9   condition      21597 non-null  object
 10  grade          21597 non-null  object
 11  sqft_above     21597 non-null  int64
 12  sqft_basement  21597 non-null  object
 13  yr_built       21597 non-null  int64
 14  yr_renovated   17755 non-null  float64
 15  zipcode        21597 non-null  int64
 16  lat            21597 non-null  float64
 17  long           21597 non-null  float64
 18  sqft_living15  21597 non-null  int64
 19  sqft_lot15     21597 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(8), object(5)
memory usage: 3.3+ MB

**Feature Engineering!**

The Date column is defined as the date when a Home has been sold. The exact sale date itself will not be particularly interesting for our analysis of the sale price; however, using that date, we could potentially find some other interesting variables about that home sale such as:

* Month of the year when the home sale occured (seasonal price swings?) 

* Home's Age at the time of sale?

In [14]:
# Use the converted datetime data to create new columns identifying month sold and year sold.

df['month_sold'] = df['date'].dt.month
df['year_sold'] = df['date'].dt.year
df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,month_sold,year_sold,age_when_sold
0,2014-10-13,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,Average,...,1955,0.0,98178,47.5112,-122.257,1340,5650,10,2014,59
1,2014-12-09,538000.0,3,2.25,2570,7242,2.0,NO,NONE,Average,...,1951,1991.0,98125,47.7210,-122.319,1690,7639,12,2014,63
2,2015-02-25,180000.0,2,1.00,770,10000,1.0,NO,NONE,Average,...,1933,NaN,98028,47.7379,-122.233,2720,8062,2,2015,82
3,2014-12-09,604000.0,4,3.00,1960,5000,1.0,NO,NONE,Very Good,...,1965,0.0,98136,47.5208,-122.393,1360,5000,12,2014,49
4,2015-02-18,510000.0,3,2.00,1680,8080,1.0,NO,NONE,Average,...,1987,0.0,98074,47.6168,-122.045,1800,7503,2,2015,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,2014-05-21,360000.0,3,2.50,1530,1131,3.0,NO,NONE,Average,...,2009,0.0,98103,47.6993,-122.346,1530,1509,5,2014,5
21593,2015-02-23,400000.0,4,2.50,2310,5813,2.0,NO,NONE,Average,...,2014,0.0,98146,47.5107,-122.362,1830,7200,2,2015,1
21594,2014-06-23,402101.0,2,0.75,1020,1350,2.0,NO,NONE,Average,...,2009,0.0,98144,47.5944,-122.299,1020,2007,6,2014,5
21595,2015-01-16,400000.0,3,2.50,1600,2388,2.0,NaN,NONE,Average,...,2004,0.0,98027,47.5345,-122.069,1410,1287,1,2015,11
21596,2014-10-15,325000.0,2,0.75,1020,1076,2.0,NO,NONE,Average,...,2008,0.0,98144,47.5941,-122.299,1020,1357,10,2014,6

In [15]:
# Use the newly created year sold column and the yr built column to create new column showing age of home when sold

df['age_when_sold'] = df['year_sold'] - df['yr_built']
df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,month_sold,year_sold,age_when_sold
0,2014-10-13,221900.0,3,1.00,1180,5650,1.0,NaN,NONE,Average,...,1955,0.0,98178,47.5112,-122.257,1340,5650,10,2014,59
1,2014-12-09,538000.0,3,2.25,2570,7242,2.0,NO,NONE,Average,...,1951,1991.0,98125,47.7210,-122.319,1690,7639,12,2014,63
2,2015-02-25,180000.0,2,1.00,770,10000,1.0,NO,NONE,Average,...,1933,NaN,98028,47.7379,-122.233,2720,8062,2,2015,82
3,2014-12-09,604000.0,4,3.00,1960,5000,1.0,NO,NONE,Very Good,...,1965,0.0,98136,47.5208,-122.393,1360,5000,12,2014,49
4,2015-02-18,510000.0,3,2.00,1680,8080,1.0,NO,NONE,Average,...,1987,0.0,98074,47.6168,-122.045,1800,7503,2,2015,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,2014-05-21,360000.0,3,2.50,1530,1131,3.0,NO,NONE,Average,...,2009,0.0,98103,47.6993,-122.346,1530,1509,5,2014,5
21593,2015-02-23,400000.0,4,2.50,2310,5813,2.0,NO,NONE,Average,...,2014,0.0,98146,47.5107,-122.362,1830,7200,2,2015,1
21594,2014-06-23,402101.0,2,0.75,1020,1350,2.0,NO,NONE,Average,...,2009,0.0,98144,47.5944,-122.299,1020,2007,6,2014,5
21595,2015-01-16,400000.0,3,2.50,1600,2388,2.0,NaN,NONE,Average,...,2004,0.0,98027,47.5345,-122.069,1410,1287,1,2015,11
21596,2014-10-15,325000.0,2,0.75,1020,1076,2.0,NO,NONE,Average,...,2008,0.0,98144,47.5941,-122.299,1020,1357,10,2014,6

In [16]:
df["age_when_sold"].value_counts()

 9      472
 8      443
 11     431
 0      430
 10     428
       ...
 113     28
 115     26
 81      23
 80      21
-1       12
Name: age_when_sold, Length: 117, dtype: int64

In [17]:
df[df["age_when_sold"] == -1]

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,month_sold,year_sold,age_when_sold
1761,2014-06-25,597326.0,4,4.00,3570,8250,2.0,NO,NONE,Average,...,2015,NaN,98040,47.5784,-122.226,2230,10000,6,2014,-1
2685,2014-10-29,385195.0,1,1.00,710,6000,1.5,NO,NONE,Average,...,2015,NaN,98144,47.5756,-122.316,1440,4800,10,2014,-1
7519,2014-12-31,614285.0,5,2.75,2730,6401,2.0,NO,NONE,Average,...,2015,0.0,98072,47.7685,-122.160,2520,6126,12,2014,-1
8032,2014-06-24,455000.0,2,1.50,1200,1259,2.0,NO,NONE,Average,...,2015,NaN,98144,47.6001,-122.298,1320,1852,6,2014,-1
14475,2014-08-26,500000.0,2,2.25,1570,1269,2.0,NaN,NONE,Average,...,2015,NaN,98199,47.6514,-122.385,1570,6000,8,2014,-1
17084,2014-06-17,350000.0,3,2.00,1380,3600,3.0,NaN,NONE,Average,...,2015,0.0,98122,47.6074,-122.305,1480,3600,6,2014,-1
19789,2014-08-01,455000.0,3,1.75,1320,1014,3.0,NO,NONE,Average,...,2015,0.0,98122,47.6047,-122.305,1380,1495,8,2014,-1
20754,2014-08-28,357000.0,5,2.50,2990,9240,2.0,NO,NONE,Average,...,2015,0.0,98133,47.7384,-122.348,1970,18110,8,2014,-1
20836,2014-07-09,595000.0,4,3.25,3730,4560,2.0,NO,NONE,Average,...,2015,0.0,98103,47.6725,-122.330,1800,4560,7,2014,-1
20947,2014-07-31,230000.0,3,1.50,1040,1264,2.0,NO,NONE,Average,...,2015,0.0,98144,47.5951,-122.301,1350,3000,7,2014,-1
21246,2014-11-25,559000.0,2,3.00,1650,960,3.0,NO,NONE,Average,...,2015,NaN,98103,47.6611,-122.346,1650,3000,11,2014,-1
21356,2014-05-20,490000.0,5,3.50,4460,2975,3.0,NO,AVERAGE,Average,...,2015,NaN,98119,47.6313,-122.370,2490,4231,5,2014,-1

In [19]:
#df[df["age_when_sold"] >50 ].head(15)

We see there are many homes that were sold at 0 years old! and even some homes that sold at -1 years old!

This actually makes sense for new constructions homes. Let's assign all new construction homes to have an age of 0.

In [20]:
# apply rule to make sure new construction homes have age of 0, and not -1

df['age_when_sold'] = df['age_when_sold'].apply(lambda x: 0 if x == -1 else x)

In [21]:
df["age_when_sold"].value_counts()

9      472
8      443
0      442
11     431
10     428
      ...
112     33
113     28
115     26
81      23
80      21
Name: age_when_sold, Length: 116, dtype: int64

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           21597 non-null  datetime64[ns]
 1   price          21597 non-null  float64
 2   bedrooms       21597 non-null  int64
 3   bathrooms      21597 non-null  float64
 4   sqft_living    21597 non-null  int64
 5   sqft_lot       21597 non-null  int64
 6   floors         21597 non-null  float64
 7   waterfront     19221 non-null  object
 8   view           21534 non-null  object
 9   condition      21597 non-null  object
 10  grade          21597 non-null  object
 11  sqft_above     21597 non-null  int64
 12  sqft_basement  21597 non-null  object
 13  yr_built       21597 non-null  int64
 14  yr_renovated   17755 non-null  float64
 15  zipcode        21597 non-null  int64
 16  lat            21597 non-null  float64
 17  long           21597 non-null  float64
 18  sqft_living15  21597 non-null  int64
 19  sqft_lot15     21597 non-null  int64
 20  month_sold     21597 non-null  int64
 21  year_sold      21597 non-null  int64
 22  age_when_sold  21597 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(11), object(5)
memory usage: 3.8+ MB

In [23]:
df[['sqft_living','sqft_lot','sqft_above','sqft_basement']].head(50)

    sqft_living  sqft_lot  sqft_above sqft_basement
0          1180      5650        1180           0.0
1          2570      7242        2170         400.0
2           770     10000         770           0.0
3          1960      5000        1050         910.0
4          1680      8080        1680           0.0
5          5420    101930        3890        1530.0
6          1715      6819        1715             ?
7          1060      9711        1060           0.0
8          1780      7470        1050         730.0
9          1890      6560        1890           0.0
10         3560      9796        1860        1700.0
11         1160      6000         860         300.0
12         1430     19901        1430           0.0
13         1370      9680        1370           0.0
14         1810      4850        1810           0.0
15         2950      5000        1980         970.0
16         1890     14040        1890           0.0
17         1600      4300        1600           0.0
18         1200      9850        1200             ?
19         1250      9774        1250           0.0
20         1620      4980         860         760.0
21         3050     44867        2330         720.0
22         2270      6300        2270           0.0
23         1070      9643        1070           0.0
24         2450      6500        2450           0.0
25         1710      4697        1710           0.0
26         2450      2691        1750         700.0
27         1400      1581        1400           0.0
28         1520      6380         790         730.0
29         2570      7173        2570           0.0
30         2320      3980        2320           0.0
31         1190      1265        1190           0.0
32         2330      5000        1510         820.0
33         1090      3000        1090           0.0
34         2060      6659        1280         780.0
35         2300      3060        1510         790.0
36         1660     34848         930         730.0
37         2360      6000        2360           0.0
38         1220      8075         890         330.0
39         2620      7553        2620           0.0
40         2570      5520        2570           0.0
41         4220     24186        2600        1620.0
42         3595      5639        3595             ?
43         1570      2280        1570           0.0
44         1280      9656         920         360.0
45         3160     13603        3160           0.0
46          990      8528         990           0.0
47         2290     13416        2290           0.0
48         1250      5963        1250           0.0
49         2753     65005        2165         588.0

We see some odd values for sqft_basement. We can see the pattern in the data and safely assume that :

>sqft_living = sqft_above + sqft_basement

Let's take a closer look at the rows with bad data.

In [25]:
df.loc[df['sqft_basement'] == '?'][['sqft_living','sqft_lot','sqft_above','sqft_basement']]

       sqft_living  sqft_lot  sqft_above sqft_basement
6             1715      6819        1715             ?
18            1200      9850        1200             ?
42            3595      5639        3595             ?
79            3450     39683        3450             ?
112           1540     12600        1160             ?
...            ...       ...         ...           ...
21442         2360      5000        1390             ?
21447         2330      4907        2330             ?
21473          980      1010         980             ?
21519         2380      5737        2380             ?
21581         3410     10125        3410             ?

[454 rows x 4 columns]

In [26]:
df['sqft_basement'].value_counts()

0.0       12826
?           454
600.0       217
500.0       209
700.0       208
          ...
1920.0        1
3480.0        1
2730.0        1
2720.0        1
248.0         1
Name: sqft_basement, Length: 304, dtype: int64

In [27]:
df['sqft_basement'].value_counts(normalize=True)

0.0       0.593879
?         0.021021
600.0     0.010048
500.0     0.009677
700.0     0.009631
            ...
1920.0    0.000046
3480.0    0.000046
2730.0    0.000046
2720.0    0.000046
248.0     0.000046
Name: sqft_basement, Length: 304, dtype: float64

Knowing that the **sqft_living** and **sqft_above** columns are clean for every row, we can easily recalculate (and thus whole-sale clean) the sqft_basement column in one line of code!

In [29]:
# recalculate sqft basement using formula above

df['sqft_basement'] = df['sqft_living'] - df['sqft_above']

In [35]:
df[['sqft_living','sqft_lot','sqft_above','sqft_basement']].head(10)

   sqft_living  sqft_lot  sqft_above  sqft_basement
0         1180      5650        1180              0
1         2570      7242        2170            400
2          770     10000         770              0
3         1960      5000        1050            910
4         1680      8080        1680              0
5         5420    101930        3890           1530
6         1715      6819        1715              0
7         1060      9711        1060              0
8         1780      7470        1050            730
9         1890      6560        1890              0

In [36]:
df['sqft_basement'].value_counts(normalize=True)

0      0.607029
600    0.010233
700    0.010094
500    0.009909
800    0.009538
         ...
518    0.000046
374    0.000046
784    0.000046
906    0.000046
248    0.000046
Name: sqft_basement, Length: 306, dtype: float64

Per the normalized value counts, we see that 60% of the data has no basement. Let's create a categorical column indentifying if a home had a basement or not at time of sale.

In [32]:
# define new function and apply it to create new column for if a home has a basement

def basement(number):
    if number > 1:
        return 1
    else:
        return 0

df['has_basement']  = df['sqft_basement'].apply(basement)

In [33]:
df['has_basement'].value_counts()

0    13110
1     8487
Name: has_basement, dtype: int64

In [34]:
df['sqft_basement'].value_counts()

0      13110
600      221
700      218
500      214
800      206
       ...
518        1
374        1
784        1
906        1
248        1
Name: sqft_basement, Length: 306, dtype: int64

The value counts match so we know we did it correctly.

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           21597 non-null  datetime64[ns]
 1   price          21597 non-null  float64
 2   bedrooms       21597 non-null  int64
 3   bathrooms      21597 non-null  float64
 4   sqft_living    21597 non-null  int64
 5   sqft_lot       21597 non-null  int64
 6   floors         21597 non-null  float64
 7   waterfront     19221 non-null  object
 8   view           21534 non-null  object
 9   condition      21597 non-null  object
 10  grade          21597 non-null  object
 11  sqft_above     21597 non-null  int64
 12  sqft_basement  21597 non-null  int64
 13  yr_built       21597 non-null  int64
 14  yr_renovated   17755 non-null  float64
 15  zipcode        21597 non-null  int64
 16  lat            21597 non-null  float64
 17  long           21597 non-null  float64
 18  sqft_living15  21597 non-null  int64
 19  sqft_lot15     21597 non-null  int64
 20  month_sold     21597 non-null  int64
 21  year_sold      21597 non-null  int64
 22  age_when_sold  21597 non-null  int64
 23  has_basement   21597 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(13), object(4)
memory usage: 4.0+ MB

In [38]:
df['waterfront'].value_counts()

NO     19075
YES      146
Name: waterfront, dtype: int64

In [39]:
# check null values

df['waterfront'].isna().sum()

2376

Most homes are overwhelming **NO** for **waterfront**. So it's safe to fill in the missing values with NO.

In [40]:
# fill in NO for missing waterfront rows

df['waterfront'].fillna('NO', inplace=True)
df['waterfront'].value_counts()

NO     21451
YES      146
Name: waterfront, dtype: int64

In [41]:
# Convert to 1's and 0's as we know we will do linear regression later

df['waterfront'] = df['waterfront'].map(lambda x: 1 if x == 'YES' else 0)
df['waterfront'].value_counts()

0    21451
1      146
Name: waterfront, dtype: int64

In [ ]:
df.info()

In [ ]:
df['yr_renovated'].isna().sum()

In [ ]:
df['yr_renovated'].describe()

In [ ]:
df['yr_renovated'].value_counts(normalize=True).head(20)

In [ ]:
df['yr_renovated'].fillna(0.0, inplace=True)

In [ ]:
df['yr_renovated'].describe()

In [ ]:
df['yr_renovated'].value_counts(normalize=True)

In [ ]:
def reno(year):
    if year > 1:
        return 1
    else:
        return 0

df['recent_reno']  = df['yr_renovated'].apply(reno)

In [ ]:
df['recent_reno'].sum()

In [ ]:
1-(744/21597)

In [ ]:
df['recent_reno'].value_counts(normalize=True)

In [ ]:
df.info()

In [ ]:
df = df.drop(['date', 'yr_built','yr_renovated' ], axis=1)
df

In [ ]:
df.info()

In [ ]:
df["grade"]

In [ ]:
df["grade"].value_counts()

In [ ]:
df["condition"]

In [ ]:
df['condition'].isna().sum()

In [ ]:
df["condition"].value_counts()

In [ ]:
condition_key = {'Poor':1.0 , 'Fair':2.0 , 'Average':3.0 , 'Good':4.0 , 'Very Good':5.0}

In [ ]:
# grade_key = {'3 Poor':0.0,
#              '4 Low':1.0,
#              '5 Fair':2.0,
#              '6 Low Average':3.0,
#              '7 Average': 4.0,
#              '8 Good':5.0,
#              '9 Better':6.0,
#              '10 Very Good':7.0,
#              '11 Excellent':8.0,
#              '12 Luxury': 9.0,
#              '13 Mansion':10.0}

In [ ]:
grade_key = {'3 Poor':3.0,
             '4 Low':4.0,
             '5 Fair':5.0,
             '6 Low Average':6.0,
             '7 Average': 7.0,
             '8 Good':8.0,
             '9 Better':9.0,
             '10 Very Good':10.0,
             '11 Excellent':11.0,
             '12 Luxury': 12.0,
             '13 Mansion':13.0}

In [ ]:
view_key = {'NONE':1.0 , 'AVERAGE':2.0 , 'GOOD':3.0 , 'FAIR':4.0 , 'EXCELLENT':5.0}

In [ ]:
df['condition'] = df['condition'].replace(condition_key)

In [ ]:
df['grade'] = df['grade'].replace(grade_key)

In [ ]:
df['view'] = df['view'].replace(view_key)

In [ ]:
df.info()

In [ ]:
df = df.drop('year_sold', axis=1)
df

In [ ]:
df.describe().transpose()

In [ ]:
df['view'].value_counts(normalize=True)

In [ ]:
df['view'].fillna(1.0, inplace=True)

In [ ]:
df['view'].value_counts(normalize=True)

In [ ]:
def view(number):
    if number > 1:
        return 1
    else:
        return 0

df['has_view']  = df['view'].apply(view)

In [ ]:
df.info()

In [ ]:
df.describe().transpose()

In [ ]:
df = df.drop('lat', axis=1)
df

In [ ]:
df = df.drop('long', axis=1)
df

In [ ]:
df.describe().transpose()

In [ ]:
df['condition'].value_counts(normalize=True)

### Using Z Score to remove outliers

The code below produces a heatmap showing the correlations between all of the numeric values in our training data. The x and y axis labels indicate the pair of values that are being compared, and then the color and the number are both representing the correlation. Color is used here to make it easier to find the largest/smallest numbers — you could perform this analysis with just `train.corr()` if all you wanted was the correlation values.

The very left column of the plot is the most important, since it shows correlations between the target (listing price) and other attributes.

In [ ]:
df.hist(figsize  = [30, 20]);

In [ ]:
# numerical = ['price', 'sqft_living','sqft_living15', 'sqft_lot','sqft_lot15','sqft_above', 'sqft_basement','lat','long','age_when_sold']

In [ ]:
numerical = ['price', 'sqft_living','sqft_living15', 'sqft_lot','sqft_lot15','sqft_above', 'sqft_basement','age_when_sold']

In [ ]:
kindaboth = ['bedrooms', 'bathrooms', 'floors']

In [ ]:
categorical = ['waterfront', 'view','condition','grade','month_sold','recent_reno','has_view','zipcode']

In [ ]:
df.shape

In [ ]:
z = np.abs(stats.zscore(df[numerical+kindaboth]))
z.head(10)

In [ ]:
z.describe().transpose()

In [ ]:
# df2 = df[(z<6).all(axis=1)]

In [ ]:
df2 = df[(z<3).all(axis=1)]

In [ ]:
# df2 = df[(z<2).all(axis=1)]

In [ ]:
df2.shape

In [ ]:
df2.hist(figsize  = [30, 20]);

In [ ]:
df2.describe().transpose()

In [ ]:
df = df2.copy()

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.describe().transpose()

## 2. Regresssion Modeling
### Baseline Model - Most Correlated Feature

The code below produces a heatmap showing the correlations between all of the numeric values in our training data. The x and y axis labels indicate the pair of values that are being compared, and then the color and the number are both representing the correlation. Color is used here to make it easier to find the largest/smallest numbers — you could perform this analysis with just `train.corr()` if all you wanted was the correlation values.

The very left column of the plot is the most important, since it shows correlations between the target (listing price) and other attributes.

In [ ]:
df.corr()

In [ ]:
plt.figure(figsize=(20,20))
#sns.heatmap(df.corr(), annot=True, square=True, cmap= "Blues", mask=np.triu(np.ones_like(df.corr(), dtype=bool)),)
sns.heatmap(df.corr(), annot=True, square=True, cmap= "Blues")

Based on the plot above, which feature is most strongly correlated with the target (`listing_price`)? In other words, which feature has the strongest positive or negative correlation — the correlation with the greatest magnitude?

In [ ]:

most_correlated = "grade"

(Make sure you run the cell above before proceeding.)

Let's create a scatter plot of that feature vs. listing price:

In [ ]:
fig, ax = plt.subplots()

ax.scatter(df[most_correlated], df['price'], alpha=0.5)
ax.set_xlabel(most_correlated)
ax.set_ylabel("price")
ax.set_title("Most Correlated Feature vs. Listing Price");

Assuming you correctly identified `piece_count` (the number of pieces in the LEGO set) as the most correlated feature, you should have a scatter plot that shows a fairly clear linear relationship between that feature and the target. It looks like we are ready to proceed with making our baseline model without any additional transformation.



Now, we'll build a linear regression model using just that feature, which will serve as our baseline model:

In [ ]:
baseline_model = LinearRegression()

In [ ]:

splitter = ShuffleSplit(n_splits=3, test_size=0.25, random_state=0)

In [ ]:
baseline_scores = cross_validate(
    estimator=baseline_model,
    X=df[[most_correlated]],
    y=df['price'],
    return_train_score=True,
    cv=splitter
)

baseline_scores

In [ ]:
print("Train score:     ", baseline_scores["train_score"].mean())
print("Validation score:", baseline_scores["test_score"].mean())

Then we evaluate the model using `cross_validate` and `ShuffleSplit`, which essentially means that we perform 3 separate train-test splits within our `X_train` and `y_train`, then we find both the train and the test scores for each.

Interpret these scores below. What are we measuring? What can we learn from this?

**Hint:** when you use `cross_validate`, it uses the `.score` method of the estimator by default. See [documentation here](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html#sklearn.linear_model.LinearRegression.score) for that method of `LinearRegression`.

<details>
    <summary style="cursor: pointer">Solution (click to reveal)</summary>
    <p>Because we are using the <code>.score</code> method of <code>LinearRegression</code>, these are r-squared scores. That means that each of them represents the amount of variance of the target (listing price) that is explained by the model's features (currently just the number of pieces) and parameters (intercept value and coefficient values for the features)</p>
    <p>In general this seems like a fairly strong model already. It is getting nearly identical performance on training subsets compared to the validation subsets, explaining around 80% of the variance both times</p>
</details>



Now that we have established a baseline, it's time to move on to more complex models.

### 2nd Model - All Features

One thing that you will almost always need to do in a modeling process is remove non-numeric data prior to modeling. While you could apply more-advanced techniques such as one-hot encoding or NLP in order to convert non-numeric columns into numbers, this time just create a dataframe `X_train_numeric` that is a copy of `X_train` that only contains numeric columns.

You can look at the `df.info()` printout above to do this manually, or there is a handy `.select_dtypes` method ([documentation here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.select_dtypes.html)).

In [ ]:
df.info()

In [ ]:
scatterplot_data = df.drop("price",axis=1)

fig, axes = plt.subplots(ncols=3, nrows=7, figsize=(15, 20))
fig.set_tight_layout(True)

for index, col in enumerate(scatterplot_data.columns):
    ax = axes[index//3][index%3]
    ax.scatter(df[col], df["price"], alpha=0.2)
    ax.set_xlabel(col)
    ax.set_ylabel("price")

In [ ]:
second_model = LinearRegression()

second_model_scores = cross_validate(
    estimator=second_model,
    X=df.drop("price",axis=1),
    y=df['price'],
    return_train_score=True,
    cv=splitter
)

print("Current Model - Linear Regression with all Features")
print("Train score:     ", second_model_scores["train_score"].mean())
print("Validation score:", second_model_scores["test_score"].mean())
print()
print("Baseline Model - Linear Regression with only Most Correlated Feature")
print("Train score:     ", baseline_scores["train_score"].mean())
print("Validation score:", baseline_scores["test_score"].mean())

In [ ]:
sm.OLS(df['price'], sm.add_constant(df.drop("price",axis=1))).fit().summary()

#### Investigating Multicollinearity

This potentially indicates that our model is performing poorly because these features violate the independence assumption (i.e. there is strong multicollinearity). In other words, maybe the minimum age, maximum age, and difficulty level are not really providing different information than the number of pieces in the LEGO set, and instead are just adding noise. Then the model is using that noise to get a slightly better score on the training data, but but a worse score on the validation data.

While `LinearRegression` from scikit-learn has a lot of nice functionality for working with a predictive framing (e.g. compatibility with the `cross_validate` function), it doesn't have anything built in to detect strong multicollinearity. Fortunately the same linear regression model is also available from StatsModels ([documentation here](https://www.statsmodels.org/stable/generated/statsmodels.regression.linear_model.OLS.html)), where it is called `OLS` (for "ordinary least squares"). Models in StatsModels, including `OLS`, are not really designed for predictive model validation, but they do give us a lot more statistical information.

In the cell below, we use StatsModels to fit and evaluate a linear regression model on the same features used in the second model. Note that we will only see one r-squared value (not train and validation r-squared values) because it is using the full `X_train` dataset instead of using cross-validation.

A condition number of 10-30 indicates multicollinearity, and a condition number above 30 indicates strong multicollinearity. This print-out shows a condition number of `2.85e+03`, i.e. 2770, which is well above 30.

In a predictive context (we are currently trying to build a model to assign prices to future LEGO sets, not a model primarily intended for understanding the relationship between prices and attributes of past LEGO sets), we do not *always* need to be worried when we identify strong multicollinearity. Sometimes there are features that are highly collinear but they also are individually communicating useful information to the model. In this case, however, it seems like strong multicollinearity might be what is causing our second model to have worse performance than the first model.

In [ ]:
abs(df.corr()) > 0.75

In [ ]:
# save absolute value of correlation matrix as a data frame
# converts all values to absolute value
# stacks the row:column pairs into a multindex
# reset the index to set the multindex to seperate columns
# sort values. 0 is the column automatically generated by the stacking

dfcorr=df.corr().abs().stack().reset_index().sort_values(0, ascending=False)

# zip the variable name columns (Which were only named level_0 and level_1 by default) in a new column named "pairs"
dfcorr['pairs'] = list(zip(dfcorr.level_0, dfcorr.level_1))

# set index to pairs
dfcorr.set_index(['pairs'], inplace = True)

#d rop level columns
dfcorr.drop(columns=['level_1', 'level_0'], inplace = True)

# rename correlation column as cc rather than 0
dfcorr.columns = ['cc']

# drop duplicates. This could be dangerous if you have variables perfectly correlated with variables other than themselves.
# for the sake of exercise, kept it in.
dfcorr.drop_duplicates(inplace=True)

In [ ]:
dfcorr[(dfcorr.cc>.75) & (dfcorr.cc <1)]

In [ ]:
abs(df.corr()['price']).sort_values(ascending=False)

In [ ]:
# between sqft living and sq ft above, we want to get rid of sq ft above as it is less correlated to price
# also sq ft above can be recalculated

# between lot15 and lot, get rid of lot15

#smaller abs value correlation to price

In [ ]:
# df = df.drop(['sqft_above','sqft_lot15'], axis=1)
# df

In [ ]:
df = df.drop(['sqft_above','sqft_lot15','sqft_basement','view'], axis=1)
df

In [ ]:
# df = df.drop(['sqft_above','sqft_lot15','sqft_basement','has_view'], axis=1)
# df

In [ ]:
# df = df.drop(['sqft_living'], axis=1)
# df

In [ ]:
y = df['price']

In [ ]:
sm.OLS(y, sm.add_constant(df.drop("price",axis=1))).fit().summary()

The following code checks that your answer was correct:

Now we can look at scatter plots of all numeric features compared to the target (skipping `piece_count` since we already looked at that earlier):

### 3rd Model - One Hot Encoding Categorical Features

Ok, now all of the remaining features can technically go into a model with scikit-learn. But do they make sense?

Some reasons you might not want to include a given numeric column include:

1. The column represents a unique identifier, not an actual numeric feature
2. The column is something that will not be available when making future predictions

Recall that the business purpose here is creating an algorithm to set the price for a newly-released LEGO set. Which columns should we drop because of the issues above?

 <details>
    <summary style="cursor: pointer">Solution (click to reveal)</summary>
    <p>The first issue aligns with the first feature we have, <code>prod_id</code></p>
    <p>While it is possible that there is some useful information encoded in that number, it seems like it is not really a numeric feature in the traditional sense</p>
    <p>The scatter plot supports this idea, since it shows almost all prices being represented by a narrow range of ID values</p>
    <p>The second issue aligns with <code>num_reviews</code> and <code>star_rating</code>. Although these might be useful features in some modeling context, they are not useful for this algorithm because we won't know the number of reviews or the star rating until after the LEGO set is released.</p>
</details>

Now, create a variable `X_train_second_model`, which is a copy of `X_train_numeric` where those irrelevant columns have been removed:

In [ ]:
df.info()

In [ ]:
df.columns

In [ ]:
# numerical = ['sqft_living15', 'sqft_lot','sqft_lot15','sqft_above', 'sqft_basement','lat','long','age_when_sold']

In [ ]:
# numerical = ['sqft_living15', 'sqft_lot','sqft_living', 'sqft_basement','age_when_sold']

In [ ]:
numerical = ['sqft_living15', 'sqft_lot','sqft_living','age_when_sold']

In [ ]:
# numerical = ['sqft_living15', 'sqft_lot','sqft_lot15','sqft_above', 'sqft_basement','age_when_sold']

In [ ]:
# kindaboth = ['bedrooms', 'bathrooms', 'floors','condition','grade','view']

In [ ]:
# kindaboth = ['bedrooms', 'bathrooms', 'floors']

In [ ]:
kindaboth = ['bedrooms', 'bathrooms', 'floors', 'condition', 'grade']

In [ ]:
# kindaboth = ['bedrooms', 'bathrooms', 'floors']

In [ ]:
# kindaboth = ['bedrooms', 'bathrooms', 'floors', 'grade']

In [ ]:
# categorical = ['waterfront', 'month_sold','has_basement','recent_reno','zipcode']

In [ ]:
# categorical = ['waterfront', 'view', 'condition', 'grade', 'month_sold','recent_reno','zipcode']

In [ ]:
categorical = ['waterfront', 'has_view','month_sold','has_basement','recent_reno','zipcode']

In [ ]:
# categorical = ['waterfront', 'has_view','month_sold','has_basement','recent_reno']

In [ ]:
# categorical = ['waterfront', 'view','month_sold','has_basement','recent_reno','zipcode']

In [ ]:
# categorical = ['waterfront','view','condition','grade','month_sold','has_basement','recent_reno','zipcode']

In [ ]:
# categorical = ['waterfront', 'has_view','condition', 'month_sold','has_basement','recent_reno','zipcode']

In [ ]:
# categorical = ['waterfront', 'has_view', 'condition', 'grade', 'month_sold','has_basement','recent_reno','zipcode']

In [ ]:
for variable in (kindaboth+categorical):
    ax, figure = plt.subplots(1,1,figsize=(30,20))
    sns.boxplot(x=variable, y='price', data=df)
    plt.title("{} vs. price".format(variable))

In [ ]:
df.groupby('zipcode')['price'].median().sort_values(ascending=False).head(4)

In [ ]:
df.groupby('zipcode')['price'].mean().sort_values(ascending=False).head(4)

In [ ]:
## interesting, lets see where those 4 zip codes end up in our final model later

In [ ]:
df2 = df.copy()

In [ ]:
df2

In [ ]:
df2[categorical].nunique()

In [ ]:
df_categories = pd.DataFrame()

for cat in categorical:
    df_categories[cat]=df2[cat].astype('category')
    df_dummy = pd.get_dummies(df_categories[cat], prefix=cat, drop_first=True) 
    df_categories = df_categories.join(df_dummy)
    df_categories.drop(labels=cat, axis=1, inplace=True)

In [ ]:
df_categories

In [ ]:
dfohe= df2.drop(categorical, axis=1)
dfohe = pd.concat([dfohe, df_categories], axis=1)
dfohe.info()

In [ ]:
dfohe.head(10)

In [ ]:
sm.OLS(dfohe['price'], sm.add_constant(dfohe.drop("price",axis=1))).fit().summary()

In [ ]:
third_model = LinearRegression()

third_model_scores = cross_validate(
    estimator=third_model,
    X=dfohe.drop("price",axis=1),
    # y=df2logprice,
    y=dfohe['price'],
    return_train_score=True,
    cv=splitter
)

print("Current Model (OHE of categorical features only)")
print("Train score:     ", third_model_scores["train_score"].mean())
print("Validation score:", third_model_scores["test_score"].mean())
print()

# print("Second Second Model (log transform price)")
# print("Train score:     ", second2_model_scores["train_score"].mean())
# print("Validation score:", second2_model_scores["test_score"].mean())
# print()

print("Second Model (using all features)")
print("Train score:     ", second_model_scores["train_score"].mean())
print("Validation score:", second_model_scores["test_score"].mean())
print()

print("Baseline Model (just using most correlated feature)")
print("Train score:     ", baseline_scores["train_score"].mean())
print("Validation score:", baseline_scores["test_score"].mean())

### 4th Model - Log Transform Numerical Features

In [ ]:
dfohe[numerical+kindaboth+['price']].hist(figsize = (30,20));

In [ ]:
# trylog = ['sqft_living15', 'sqft_lot','sqft_lot15', 'sqft_above', 'sqft_basement','price']

In [ ]:
# trylog = ['sqft_living15', 'sqft_lot','sqft_lot15', 'sqft_above','sqft_basement']

In [ ]:
# trylog = ['sqft_living15', 'sqft_lot','sqft_living','sqft_basement']

In [ ]:
# trylog = ['sqft_living15', 'sqft_lot','sqft_living','sqft_basement','price']

In [ ]:
# trylog = ['sqft_living15', 'sqft_lot','sqft_living']

In [ ]:
trylog = ['sqft_living15', 'sqft_lot','sqft_living','price']

In [ ]:
# trylog = ['sqft_lot']

In [ ]:
# trylog = numerical + kindaboth

In [ ]:
# trylog = numerical + kindaboth + ["price"]

In [ ]:
trylog

In [ ]:
dfohelog = dfohe.copy()

In [ ]:
# for feat in trylog:
#     dfohelog[feat] = dfohelog[feat].map(lambda x: np.log1p(x))

In [ ]:
for feat in trylog:
    dfohelog[feat] = dfohelog[feat].map(lambda x: np.log(x))

In [ ]:
dfohelog[numerical+kindaboth+['price']].hist(figsize = (30,20));

In [ ]:
YOLS = dfohelog['price']
XOLS = dfohelog.drop("price",axis=1)

In [ ]:
sm.OLS(YOLS, sm.add_constant(XOLS)).fit().summary()

In [ ]:
fourth_model = LinearRegression()

fourth_model_scores = cross_validate(
    estimator=fourth_model,
    X=dfohelog.drop("price",axis=1),
    # y=df2logprice,
    y=dfohelog['price'],
    return_train_score=True,
    cv=splitter
)
print("Current Model (log transform sq ft numerical features and price)")
print("Train score:     ", fourth_model_scores["train_score"].mean())
print("Validation score:", fourth_model_scores["test_score"].mean())
print()

print("Third Model (OHE of categorical features only)")
print("Train score:     ", third_model_scores["train_score"].mean())
print("Validation score:", third_model_scores["test_score"].mean())
print()

# print("Second Second Model (log transform price)")
# print("Train score:     ", second2_model_scores["train_score"].mean())
# print("Validation score:", second2_model_scores["test_score"].mean())
# print()

print("Second Model (using all features)")
print("Train score:     ", second_model_scores["train_score"].mean())
print("Validation score:", second_model_scores["test_score"].mean())
print()

print("Baseline Model (just using most correlated feature")
print("Train score:     ", baseline_scores["train_score"].mean())
print("Validation score:", baseline_scores["test_score"].mean())

Interpret these results. Did our second model perform better than the baseline? Any ideas about why or why not?

**Hint:** because the purpose of this model is to set future prices that have not been determined yet, the most important metric for evaluating model performance is the validation score, not the train score.

In [ ]:
# Replace None with appropriate text
"""
I think it got worse.
"""

<details>
    <summary style="cursor: pointer">Solution (click to reveal)</summary>
    <p>Our second model got slightly better scores on the training data, but worse scores on the validation data. This means that it is a worse model overall, since what we care about is the ability to generate prices for future LEGO sets, not the ability to fit well to the known LEGO sets' features</p>
    <p>It seems like adding in these other features is actually just causing overfitting, rather than improving the model's ability to understand the underlying patterns in the data</p>
</details>

### 5th Model - Select Best Combination of Features

As you likely noted above, adding all relevant numeric features did not actually improve the model performance. Instead, it led to overfitting.

#### Selecting Features Based on p-values

Given that we suspect our model's issues are related to multicollinearity, let's try to narrow down those features. In this case, let's use the p-values assigned to the coefficients of the model.

Looking at the model summary above, ***which features are statistically significant, with p-values below 0.05***? (P-values are labeled **P>|t|** in a StatsModels summary.)

In [ ]:
# Replace None with appropriate text
"""
piece count and min age
"""

<details>
    <summary style="cursor: pointer">Solution (click to reveal)</summary>
    <p><code>const</code> (the intercept), <code>piece_count</code>, and <code>min_age</code></p>
</details>

**Important note:** There are many limitations to using coefficient p-values to select features. See [this StackExchange answer](https://stats.stackexchange.com/a/291239) with examples in R for more details. The suggested alternative in that answer, `glmnet`, is a form of *regularization*, which you will learn about later. Another related technique is *dimensionality reduction*, which will also be covered later. However for now you can proceed using just the p-values technique until the more-advanced techniques have been covered.

In the cell below, create a list `significant_features` that contains the names of the columns whose features have statistically significant coefficient p-values. You should not include `"const"` in that list because `LinearRegression` from scikit-learn automatically adds a constant term and there is no column of `X_train` called `"const"`.

(You do not need to extract this information programmatically, just write them out like `"column_name_1", "column_name_2"` etc.)

Now let's build a model using those significant features only:

Interpret the results below. What happened when we removed the features with high p-values?

In [ ]:
# Replace None with appropriate text
"""
Still looks basically the same performance to me
"""

<details>
    <summary style="cursor: pointer">Solution (click to reveal)</summary>
    <p>Removing those features led to the best model so far, although the scores are very similar to the baseline</p>
</details>

#### Selecting Features with `sklearn.feature_selection`

Let's try a different approach. Scikit-learn has a submodule called `feature_selection` that includes tools to help reduce the feature set.

We'll use `RFECV` ([documentation here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFECV.html#sklearn.feature_selection.RFECV)). "RFE" stands for "recursive feature elimination", meaning that it repeatedly scores the model, finds and removes the feature with the lowest "importance", then scores the model again. If the new score is better than the previous score, it continues removing features until the minimum is reached. "CV" stands for "cross validation" here, and we can use the same splitter we have been using to test our data so far.

##### Min/Max Scaling

In [ ]:
abs(dfohelog.corr()['price']).sort_values(ascending=False).head(10)

In [ ]:
# toscale = [numerical]

In [ ]:
toscale = [numerical+kindaboth]

In [ ]:
# toscale = [numerical,'price']

In [ ]:
# toscale = ['age_when_sold']

In [ ]:
toscale

In [ ]:
dfoheminmax = dfohelog.copy()

for feature in toscale:
    d_min = dfoheminmax[feature].min()
    d_max = dfoheminmax[feature].max()
    dfoheminmax[feature] = (dfoheminmax[feature] - d_min) / (d_max - d_min)

In [ ]:
dfoheminmax.describe().transpose().head(10)

In [ ]:
abs(dfoheminmax.corr()['price']).sort_values(ascending=False).head(10)

In [ ]:
dfoheminmax[numerical+kindaboth+['price']].hist(figsize = (30,20));

In [ ]:
YOLS = dfoheminmax['price']
XOLS = dfoheminmax.drop("price",axis=1)

In [ ]:
sm.OLS(YOLS, sm.add_constant(XOLS)).fit().summary()

##### RFECV

In [ ]:
Yscaled = dfoheminmax['price']
Xscaled = dfoheminmax.drop("price",axis=1)

In [ ]:
from sklearn.feature_selection import RFECV

model_for_RFECV = LinearRegression()

# Instantiate and fit the selector
selector = RFECV(model_for_RFECV, cv=splitter)
selector.fit(Xscaled,Yscaled)

# Print the results
print("Was the column selected?")
for index, col in enumerate(Xscaled.columns):
    print(f"{col}: {selector.support_[index]}")

In [ ]:
Xscaled.columns[selector.support_]

In [ ]:
Xscaled.columns[selector.support_]

In [ ]:
RFECV_features = Xscaled.columns[selector.support_]

In [ ]:
RFECV_features

In [ ]:
sm.OLS(Yscaled, sm.add_constant(Xscaled[RFECV_features])).fit().summary()

In [ ]:
fifth_model = LinearRegression()

fifth_model_scores = cross_validate(
    estimator=fifth_model,
    X=Xscaled[RFECV_features],
    y=Yscaled,
    return_train_score=True,
    cv=splitter
)

print("Current Mdoel (Recursive Feature Elimination after Min Max Scaling)")
print("Train score:     ", fifth_model_scores["train_score"].mean())
print("Validation score:", fifth_model_scores["test_score"].mean())
print()

print("Fourth Model (log transform sq ft numerical features and price)")
print("Train score:     ", fourth_model_scores["train_score"].mean())
print("Validation score:", fourth_model_scores["test_score"].mean())
print()

print("Third Model (OHE of categorical features only)")
print("Train score:     ", third_model_scores["train_score"].mean())
print("Validation score:", third_model_scores["test_score"].mean())
print()

# print("Second Second Model (log transform price)")
# print("Train score:     ", second2_model_scores["train_score"].mean())
# print("Validation score:", second2_model_scores["test_score"].mean())
# print()

print("Second Model (using all features)")
print("Train score:     ", second_model_scores["train_score"].mean())
print("Validation score:", second_model_scores["test_score"].mean())
print()

print("Baseline Model (just using most correlated feature")
print("Train score:     ", baseline_scores["train_score"].mean())
print("Validation score:", baseline_scores["test_score"].mean())

Interesting. So, this algorithm is saying that our baseline model, with `piece_count` as the only feature, is the best one it could find.

However, note that this is based on the "importances" of the features, which means the coefficients in the context of a linear regression. It is possible that we can still get a better model by including multiple features, if we try removing columns using a different strategy.

Interpret the table above. It shows both training and validation scores for `piece_count` as well as all combinations of 0, 1, 2, or 3 other features.

Which features make the best model? Which make the worst? How does this align with the previous discussion of multicollinearity? And how much does feature selection seem to matter in general for this dataset + model algorithm, once we have identified the most correlated feature for the baseline?

In [ ]:
# Replace None with appropriate text
"""
in my opinion, the differences seem negiligible as long as piece count is the main feature for the model. row 6 has best val score. 
"""

<details>
    <summary style="cursor: pointer">Solution (click to reveal)</summary>
    <p>The best model uses <code>piece_count</code>, <code>max_age</code>, and <code>difficulty_level</code>. It has a validation score of 0.781578</p>
    <p>The worst model uses <code>piece_count</code>, <code>min_age</code>, and <code>max_age</code>. It has a validation score of 0.751768</p>
    <p>This makes sense if we think that <code>min_age</code> and <code>max_age</code> are mostly providing the same information, and that the difference is mainly noise (leading to overfitting), that the best model would only have one of them</p>
    <p>Overall, feature selection does not seem to matter very much for this dataset + linear regression. So long as we use our most correlated feature (<code>piece_count</code>), the validation score doesn't change very much, regardless of which other features are included.</p>
</details>

## 3. Regression Results

### Final Predictive Model

In the cell below, create a list `best_features` which contains the names of the best model features based on the findings of the previous step:

In [ ]:
# Replace None with appropriate code
# best_features = ["piece_count", "max_age", "difficulty_level"]

Now, we prepare the data for modeling:

In [ ]:
# # Run this cell without changes
# X_train_final = X_train[best_features]
# X_test_final = X_test[best_features]

In the cell below, instantiate a `LinearRegression` model called `final_model`, then fit it on the training data and score it on the test data.

In [ ]:
# # Replace None with appropriate code

# final_model = LinearRegression()

# # Fit the model on X_train_final and y_train
# final_model.fit(X_train_final, y_train)

# # Score the model on X_test_final and y_test
# # (use the built-in .score method)
# final_model.score( X_test_final, y_test)

In [ ]:
X_train, X_val, y_train, y_val = train_test_split(Xscaled[RFECV_features], Yscaled, shuffle=True, test_size=0.25, random_state=10)

linreg = LinearRegression()
linreg.fit(X_train, y_train)

y_train_preds = linreg.predict(X_train)
y_val_preds = linreg.predict(X_val)
y_pred = linreg.predict(Xscaled[RFECV_features])

In [ ]:
#

In [ ]:
# sns.scatterplot(x=y_train_preds, y=y_train)

# sns.lineplot(x=y_train_preds, y=y_train_preds, color='red')

# plt.title('Actual vs. Predicted (Training Set)')
# plt.xlabel('Predicted (log(1+$))')
# plt.ylabel('Actual (log(1+$))')

In [ ]:
# y_val_preds = linreg.predict(X_val)


# sns.scatterplot(x=y_val_preds, y=y_val)
# sns.lineplot(x=y_val_preds, y=y_val_preds, color='red')
# plt.title('Actual vs. Predicted (Validation Set)')
# plt.xlabel('Predicted (log(1+$))')
# plt.ylabel('Actual (log(1+$))')

In [ ]:
X_int = sm.add_constant(Xscaled[RFECV_features])
model = sm.OLS(Yscaled.astype(float), X_int.astype(float)).fit()
model.summary()

In [ ]:
fig, ax = plt.subplots(figsize=(30, 20))
sns.histplot(Yscaled, label='Actual', color='blue',bins='auto')
sns.histplot(y_pred, label='Predict', color='red',bins='auto')
plt.legend()

In [ ]:
# fig, ax = plt.subplots(figsize=(30, 20))
# sns.histplot(Yscaled, label='Actual', color='blue', binwidth=.1)
# sns.histplot(y_pred, label='Predict', color='red', binwidth=.1)
# plt.legend()

In [ ]:
# sm.graphics.qqplot(model.resid, line='45', fit=True);

In [ ]:
# plt.scatter(Yscaled, model.resid)

In [ ]:
# 98039    1735000.0
# 98004    1100000.0
# 98040     989950.0
# 98112     900000.0

In [ ]:
model.params.sort_values(ascending=False).round(3).head(60)

In [ ]:
model.params.sort_values(ascending=True).round(3).head(20)

In [ ]:
# # Run this cell without changes
# from sklearn.metrics import mean_squared_error

# mean_squared_error(y_test, final_model.predict(X_test_final), squared=False)

What does this value mean in the current business context?

In [ ]:
# Replace None with appropriate text
"""
The RMSE is around 47.4.
"""

<details>
    <summary style="cursor: pointer">Solution (click to reveal)</summary>
    <p>This means that for an average LEGO set, this algorithm will be off by about $47. Given that most LEGO sets sell for less than $100, we would definitely want to have a human double-check and adjust these prices rather than just allowing the algorithm to set them</p>
</details>

### Interpret the Final Model

Below, we display the coefficients and intercept for the final model:

In [ ]:
# # Run this cell without changes
# print(pd.Series(final_model.coef_, index=X_train_final.columns, name="Coefficients"))
# print()
# print("Intercept:", final_model.intercept_)

Interpret these values below. What is the pricing algorithm you have developed?

In [ ]:
# Replace None with appropriate text
"""
The intercept is 9.6. That's the starting point of pricing, as if a lego set had 0 pieces! 
Price goes up with piece count and difficulty level, but down with max age.
"""

<details>
    <summary style="cursor: pointer">Solution (click to reveal)</summary>
    <p>According to our model, the base price for a LEGO set (the model intercept) is about $9.68. Then for each additional LEGO piece in the set, the price goes up by $0.09 per piece. For every year higher that the maximum age is, the price goes down by about $0.04. Then finally for every increase of 1 in the difficulty level, the price goes up by about $2.04.</p>
</details>

Before assuming that these coefficients give us inferential insight into past pricing decisions, we should investigate each of the assumptions of linear regression, in order to understand how much our model violates them.

#### Investigating Linearity

First, let's check whether the linearity assumption holds.

In [ ]:
# # Run this cell without changes

# preds = final_model.predict(X_test_final)
# fig, ax = plt.subplots()

# perfect_line = np.arange(y_test.min(), y_test.max())
# ax.plot(perfect_line, linestyle="--", color="orange", label="Perfect Fit")
# ax.scatter(y_test, preds, alpha=0.5)
# ax.set_xlabel("Actual Price")
# ax.set_ylabel("Predicted Price")
# ax.legend();

In [ ]:
sns.scatterplot(x=y_train_preds, y=y_train)
sns.lineplot(x=y_train_preds, y=y_train_preds, color='red')

plt.title('Actual vs. Predicted (Training Set)')
plt.xlabel('Predicted (log(1+$))')
plt.ylabel('Actual (log(1+$))')

In [ ]:
y_val_preds = linreg.predict(X_val)


sns.scatterplot(x=y_val_preds, y=y_val)
sns.lineplot(x=y_val_preds, y=y_val_preds, color='red')
plt.title('Actual vs. Predicted (Validation Set)')
plt.xlabel('Predicted (log(1+$))')
plt.ylabel('Actual (log(1+$))')

Are we violating the linearity assumption?

In [ ]:
# Replace None with appropriate text
"""
Not violating linearity assumption
"""

<details>
    <summary style="cursor: pointer">Solution (click to reveal)</summary>
    <p>We have some outliers that are all over the place, but in general it looks like we have a linear relationship (not violating this assumption)</p>
</details>

#### Investigating Normality

Now let's check whether the normality assumption holds for our model.

In [ ]:
# # Run this code without changes
# import scipy.stats as stats

# residuals = (y_test - preds)
# sm.graphics.qqplot(residuals, dist=stats.norm, line='45', fit=True);

In [ ]:
sm.graphics.qqplot(model.resid, line='45', fit=True);

Are we violating the normality assumption?

In [ ]:
# Replace None with appropriate text
"""
Graph looks off. I would say we could be violating normality.
"""

<details>
    <summary style="cursor: pointer">Solution (click to reveal)</summary>
    <p>Our outliers are again causing problems. This is bad enough that we can probably say that we are violating the normality assumption</p>
</details>

#### Investigating Homoscedasticity

Now let's check whether the model's errors are indeed homoscedastic or if they violate this principle and display heteroscedasticity.

In [ ]:
# # Run this cell without changes
# fig, ax = plt.subplots()

# ax.scatter(preds, residuals, alpha=0.5)
# ax.plot(preds, [0 for i in range(len(X_test))])
# ax.set_xlabel("Predicted Value")
# ax.set_ylabel("Actual - Predicted Value");

In [ ]:
plt.scatter(Yscaled, model.resid)

Are we violating the homoscedasticity assumption?

In [ ]:
# Replace None with appropriate text
"""
looks like violating homoscedasticity. this looks more hetero
"""

### Linear Regression Assumptions Conclusion

<details>
    <summary style="cursor: pointer">Solution (click to reveal)</summary>
    <p>This is not the worst "funnel" shape, although the residuals do seem to differ some based on the predicted price. We are probably violating a strict definition of homoscedasticity.</p>
</details>

## Recommendations & Next Steps 


Given your answers above, how should we interpret our model's coefficients? Do we have a model that can be used for inferential as well as predictive purposes? What might your next steps be?

In [ ]:
# Replace None with appropriate text
"""
I think the model is good enough but not perfect. I wouldn't present it to my boss without further refinement.
"""

<details>
    <summary style="cursor: pointer">Solution (click to reveal)</summary>
    <p>Our confidence in these coefficients should not be too high, since we are violating or close to violating more than one of the assumptions of linear regression. This really only should be used for predictive purposes.</p>
    <p>A good next step here would be to start trying to figure out why our outliers behave the way they do. Maybe there is some information we could extract from the text features that are currently not part of the model</p>
</details>

# Thank You

Well done! As you can see, regression can be a challenging task that requires you to make decisions along the way, try alternative approaches, and make ongoing refinements.