## Final Project Submission

Please fill out:
* Student name: Victor Kang
* Student pace: **self paced** / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [ ]:
# Your code here - remember to use markdown cells for comments as well!

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("data/kc_house_data.csv")

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df["grade"]

In [ ]:
df["grade"].value_counts()

In [ ]:
df["condition"]

In [ ]:
df["condition"].value_counts()

BUILDING CONDITION
    	Relative to age and grade. Coded 1-5.

1 = Poor- Worn out. Repair and overhaul needed on painted surfaces, roofing, plumbing, heating and numerous functional inadequacies. Excessive deferred maintenance and abuse, limited value-in-use, approaching abandonment or major reconstruction; reuse or change in occupancy is imminent. Effective age is near the end of the scale regardless of the actual chronological age.

2 = Fair- Badly worn. Much repair needed. Many items need refinishing or overhauling, deferred maintenance obvious, inadequate building utility and systems all shortening the life expectancy and increasing the effective age.

3 = Average- Some evidence of deferred maintenance and normal obsolescence with age in that a few minor repairs are needed, along with some refinishing. All major components still functional and contributing toward an extended life expectancy. Effective age and utility is standard for like properties of its class and usage.

4 = Good- No obvious maintenance required but neither is everything new. Appearance and utility are above the standard and the overall effective age will be lower than the typical property.

5= Very Good- All items well maintained, many having been overhauled and repaired as they have shown signs of wear, increasing the life expectancy and lowering the effective age with little deterioration or obsolescence evident with a high degree of utility.



BUILDING GRADE
    	Represents the construction quality of improvements. Grades run from grade 1 to 13. 
        Generally defined as:

1-3 Falls short of minimum building standards. Normally cabin or inferior structure.

4 Generally older, low quality construction. Does not meet code.

5 Low construction costs and workmanship. Small, simple design.

6 Lowest grade currently meeting building code. Low quality materials and simple designs.

7 Average grade of construction and design. Commonly seen in plats and older sub-divisions.

8 Just above average in construction and design. Usually better materials in both the exterior and interior finish work.

9 Better architectural design with extra interior and exterior design and quality.

10 Homes of this quality generally have high quality features. Finish work is better and more design quality is seen in the floor plans. Generally have a larger square footage.

11 Custom design and higher quality finish work with added amenities of solid woods, bathroom fixtures and more luxurious options.

12 Custom design and excellent builders. All materials are of the highest quality and all conveniences are present.

13 Generally custom designed and built. Mansion level. Large amount of highest quality cabinet work, wood trim, marble, entry ways etc.

In [ ]:
df

In [3]:
df = df.drop(['id', 'view', 'zipcode','lat', 'long','sqft_living15','sqft_lot15' ], axis=1)
df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated
0,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,Average,7 Average,1180,0.0,1955,0.0
1,12/9/2014,538000.0,3,2.25,2570,7242,2.0,NO,Average,7 Average,2170,400.0,1951,1991.0
2,2/25/2015,180000.0,2,1.00,770,10000,1.0,NO,Average,6 Low Average,770,0.0,1933,NaN
3,12/9/2014,604000.0,4,3.00,1960,5000,1.0,NO,Very Good,7 Average,1050,910.0,1965,0.0
4,2/18/2015,510000.0,3,2.00,1680,8080,1.0,NO,Average,8 Good,1680,0.0,1987,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,5/21/2014,360000.0,3,2.50,1530,1131,3.0,NO,Average,8 Good,1530,0.0,2009,0.0
21593,2/23/2015,400000.0,4,2.50,2310,5813,2.0,NO,Average,8 Good,2310,0.0,2014,0.0
21594,6/23/2014,402101.0,2,0.75,1020,1350,2.0,NO,Average,7 Average,1020,0.0,2009,0.0
21595,1/16/2015,400000.0,3,2.50,1600,2388,2.0,NaN,Average,8 Good,1600,0.0,2004,0.0
21596,10/15/2014,325000.0,2,0.75,1020,1076,2.0,NO,Average,7 Average,1020,0.0,2008,0.0

In [ ]:
df.info()

In [4]:
df['date'] = pd.to_datetime(df['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           21597 non-null  datetime64[ns]
 1   price          21597 non-null  float64
 2   bedrooms       21597 non-null  int64
 3   bathrooms      21597 non-null  float64
 4   sqft_living    21597 non-null  int64
 5   sqft_lot       21597 non-null  int64
 6   floors         21597 non-null  float64
 7   waterfront     19221 non-null  object
 8   condition      21597 non-null  object
 9   grade          21597 non-null  object
 10  sqft_above     21597 non-null  int64
 11  sqft_basement  21597 non-null  object
 12  yr_built       21597 non-null  int64
 13  yr_renovated   17755 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(5), object(4)
memory usage: 2.3+ MB

In [5]:
df['month_sold'] = df['date'].dt.month
df['year_sold'] = df['date'].dt.year
df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,month_sold,year_sold
0,2014-10-13,221900.0,3,1.00,1180,5650,1.0,NaN,Average,7 Average,1180,0.0,1955,0.0,10,2014
1,2014-12-09,538000.0,3,2.25,2570,7242,2.0,NO,Average,7 Average,2170,400.0,1951,1991.0,12,2014
2,2015-02-25,180000.0,2,1.00,770,10000,1.0,NO,Average,6 Low Average,770,0.0,1933,NaN,2,2015
3,2014-12-09,604000.0,4,3.00,1960,5000,1.0,NO,Very Good,7 Average,1050,910.0,1965,0.0,12,2014
4,2015-02-18,510000.0,3,2.00,1680,8080,1.0,NO,Average,8 Good,1680,0.0,1987,0.0,2,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,2014-05-21,360000.0,3,2.50,1530,1131,3.0,NO,Average,8 Good,1530,0.0,2009,0.0,5,2014
21593,2015-02-23,400000.0,4,2.50,2310,5813,2.0,NO,Average,8 Good,2310,0.0,2014,0.0,2,2015
21594,2014-06-23,402101.0,2,0.75,1020,1350,2.0,NO,Average,7 Average,1020,0.0,2009,0.0,6,2014
21595,2015-01-16,400000.0,3,2.50,1600,2388,2.0,NaN,Average,8 Good,1600,0.0,2004,0.0,1,2015
21596,2014-10-15,325000.0,2,0.75,1020,1076,2.0,NO,Average,7 Average,1020,0.0,2008,0.0,10,2014

In [ ]:
df.info()

In [6]:
df['age_when_sold'] = df['year_sold'] - df['yr_built']
df

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,month_sold,year_sold,age_when_sold
0,2014-10-13,221900.0,3,1.00,1180,5650,1.0,NaN,Average,7 Average,1180,0.0,1955,0.0,10,2014,59
1,2014-12-09,538000.0,3,2.25,2570,7242,2.0,NO,Average,7 Average,2170,400.0,1951,1991.0,12,2014,63
2,2015-02-25,180000.0,2,1.00,770,10000,1.0,NO,Average,6 Low Average,770,0.0,1933,NaN,2,2015,82
3,2014-12-09,604000.0,4,3.00,1960,5000,1.0,NO,Very Good,7 Average,1050,910.0,1965,0.0,12,2014,49
4,2015-02-18,510000.0,3,2.00,1680,8080,1.0,NO,Average,8 Good,1680,0.0,1987,0.0,2,2015,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,2014-05-21,360000.0,3,2.50,1530,1131,3.0,NO,Average,8 Good,1530,0.0,2009,0.0,5,2014,5
21593,2015-02-23,400000.0,4,2.50,2310,5813,2.0,NO,Average,8 Good,2310,0.0,2014,0.0,2,2015,1
21594,2014-06-23,402101.0,2,0.75,1020,1350,2.0,NO,Average,7 Average,1020,0.0,2009,0.0,6,2014,5
21595,2015-01-16,400000.0,3,2.50,1600,2388,2.0,NaN,Average,8 Good,1600,0.0,2004,0.0,1,2015,11
21596,2014-10-15,325000.0,2,0.75,1020,1076,2.0,NO,Average,7 Average,1020,0.0,2008,0.0,10,2014,6

In [ ]:
df["age_when_sold"].value_counts()

In [ ]:
df[df["age_when_sold"] == -1]

In [ ]:
#for house in df:
#    if house['age_when_sold'] == -1:
#        house['age_when_sold'] = 0

In [7]:
df['age_when_sold'] = df['age_when_sold'].apply(lambda x: 0 if x == -1 else x)

In [8]:
df["age_when_sold"].value_counts()

9      472
8      443
0      442
11     431
10     428
      ...
112     33
113     28
115     26
81      23
80      21
Name: age_when_sold, Length: 116, dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           21597 non-null  datetime64[ns]
 1   price          21597 non-null  float64
 2   bedrooms       21597 non-null  int64
 3   bathrooms      21597 non-null  float64
 4   sqft_living    21597 non-null  int64
 5   sqft_lot       21597 non-null  int64
 6   floors         21597 non-null  float64
 7   waterfront     19221 non-null  object
 8   condition      21597 non-null  object
 9   grade          21597 non-null  object
 10  sqft_above     21597 non-null  int64
 11  sqft_basement  21597 non-null  object
 12  yr_built       21597 non-null  int64
 13  yr_renovated   17755 non-null  float64
 14  month_sold     21597 non-null  int64
 15  year_sold      21597 non-null  int64
 16  age_when_sold  21597 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(8), object(4)
memory usage: 2.8+ MB

In [ ]:
df['sqft_living']

In [ ]:
df[['sqft_living','sqft_lot','sqft_above','sqft_basement']].head(50)

In [10]:
df.loc[df['sqft_basement'] == '?'][['sqft_living','sqft_lot','sqft_above','sqft_basement']].head(50)

      sqft_living  sqft_lot  sqft_above sqft_basement
6            1715      6819        1715             ?
18           1200      9850        1200             ?
42           3595      5639        3595             ?
79           3450     39683        3450             ?
112          1540     12600        1160             ?
115          4380      6350        2780             ?
217          2250      5692        2250             ?
309          3320     10574        2220             ?
384          4800     14984        3480             ?
508          1540      6872         820             ?
633          2690     11575        2130             ?
645          1760      6500        1150             ?
664          1290     12231        1290             ?
671          1700      6380         850             ?
685          2990      6768        2990             ?
755          1600     14250        1070             ?
881          1800      9350        1800             ?
890          1820      5400        1820             ?
995          1590     20917        1590             ?
1073         1060      4228         860             ?
1105         3160      8281        3160             ?
1205         1940      6440         970             ?
1354         2270      8391        2270             ?
1356         1200     11111        1200             ?
1366         2440     10049        2440             ?
1476         2180      7956        2180             ?
1558         2130      2620        1650             ?
1600         2350     10664        1510             ?
1662         3370      6550        2840             ?
1669         1020      7650        1020             ?
1768         4370     22863        3670             ?
1804         2060      7000        2060             ?
1852         1600      6510         940             ?
2041         1200      7727        1200             ?
2123         6400     76665        3810             ?
2126         1190      7280        1190             ?
2133          980      9135         980             ?
2152         1040      8410        1040             ?
2164          800      5760         700             ?
2199         3110      6479        3110             ?
2216         1500      6820        1500             ?
2325         3060      7920        1810             ?
2474         2140     11651        2140             ?
2525         1990      7712        1210             ?
2584         1860      7400         930             ?
2612         2160      9593        2160             ?
2658         2660     65340        2660             ?
2662         2500      5000        1460             ?
2779         3480      7232        2580             ?
2922         1250       864        1250             ?

In [13]:
df['sqft_basement'].value_counts()

0      13110
600      221
700      218
500      214
800      206
       ...
518        1
374        1
784        1
906        1
248        1
Name: sqft_basement, Length: 306, dtype: int64

In [12]:
#df['sqft_basement'] = df['sqft_basement'].map(lambda x: (x['sqft_living'] - x['sqft_above']) if x == '?' else x['sqft_basement'])

#recheck this code

#for x in df['sqft_basement']:
    #if x == '?':
df['sqft_basement'] = df['sqft_living'] - df['sqft_above']

In [14]:
df['sqft_basement'].value_counts(normalize=True)

0      0.607029
600    0.010233
700    0.010094
500    0.009909
800    0.009538
         ...
518    0.000046
374    0.000046
784    0.000046
906    0.000046
248    0.000046
Name: sqft_basement, Length: 306, dtype: float64

In [15]:
df[['sqft_living','sqft_lot','sqft_above','sqft_basement']].head(50)

    sqft_living  sqft_lot  sqft_above  sqft_basement
0          1180      5650        1180              0
1          2570      7242        2170            400
2           770     10000         770              0
3          1960      5000        1050            910
4          1680      8080        1680              0
5          5420    101930        3890           1530
6          1715      6819        1715              0
7          1060      9711        1060              0
8          1780      7470        1050            730
9          1890      6560        1890              0
10         3560      9796        1860           1700
11         1160      6000         860            300
12         1430     19901        1430              0
13         1370      9680        1370              0
14         1810      4850        1810              0
15         2950      5000        1980            970
16         1890     14040        1890              0
17         1600      4300        1600              0
18         1200      9850        1200              0
19         1250      9774        1250              0
20         1620      4980         860            760
21         3050     44867        2330            720
22         2270      6300        2270              0
23         1070      9643        1070              0
24         2450      6500        2450              0
25         1710      4697        1710              0
26         2450      2691        1750            700
27         1400      1581        1400              0
28         1520      6380         790            730
29         2570      7173        2570              0
30         2320      3980        2320              0
31         1190      1265        1190              0
32         2330      5000        1510            820
33         1090      3000        1090              0
34         2060      6659        1280            780
35         2300      3060        1510            790
36         1660     34848         930            730
37         2360      6000        2360              0
38         1220      8075         890            330
39         2620      7553        2620              0
40         2570      5520        2570              0
41         4220     24186        2600           1620
42         3595      5639        3595              0
43         1570      2280        1570              0
44         1280      9656         920            360
45         3160     13603        3160              0
46          990      8528         990              0
47         2290     13416        2290              0
48         1250      5963        1250              0
49         2753     65005        2165            588

In [ ]:
df.info()

In [ ]:
df['waterfront'].value_counts()

In [ ]:
df['yr_renovated'].value_counts()

In [ ]:
df['waterfront'].isna().sum()

In [16]:
df['waterfront'].fillna('NO', inplace=True)
df['waterfront'].value_counts()

NO     21451
YES      146
Name: waterfront, dtype: int64

In [17]:
df['waterfront'] = df['waterfront'].map(lambda x: 1 if x == 'YES' else 0)
df['waterfront'].value_counts()

0    21451
1      146
Name: waterfront, dtype: int64

In [ ]:
df.info()

In [18]:
df['yr_renovated'].isna().sum()

3842

In [19]:
def reno(year):
    if year > 1999:
        return 1
    else:
        return 0

df['recent_reno']  = df['yr_renovated'].apply(reno)

In [ ]:
df.info()

In [20]:
df['recent_reno'].sum()

379

In [ ]:
df.head()

In [21]:
df = df.drop(['date', 'yr_built','yr_renovated' ], axis=1)
df

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,condition,grade,sqft_above,sqft_basement,month_sold,year_sold,age_when_sold,recent_reno
0,221900.0,3,1.00,1180,5650,1.0,0,Average,7 Average,1180,0,10,2014,59,0
1,538000.0,3,2.25,2570,7242,2.0,0,Average,7 Average,2170,400,12,2014,63,0
2,180000.0,2,1.00,770,10000,1.0,0,Average,6 Low Average,770,0,2,2015,82,0
3,604000.0,4,3.00,1960,5000,1.0,0,Very Good,7 Average,1050,910,12,2014,49,0
4,510000.0,3,2.00,1680,8080,1.0,0,Average,8 Good,1680,0,2,2015,28,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,360000.0,3,2.50,1530,1131,3.0,0,Average,8 Good,1530,0,5,2014,5,0
21593,400000.0,4,2.50,2310,5813,2.0,0,Average,8 Good,2310,0,2,2015,1,0
21594,402101.0,2,0.75,1020,1350,2.0,0,Average,7 Average,1020,0,6,2014,5,0
21595,400000.0,3,2.50,1600,2388,2.0,0,Average,8 Good,1600,0,1,2015,11,0
21596,325000.0,2,0.75,1020,1076,2.0,0,Average,7 Average,1020,0,10,2014,6,0

In [ ]:
df['condition'].value_counts()

In [ ]:
df['grade'].value_counts()

In [22]:
condition_key = {'Poor':1.0 , 'Fair':2.0 , 'Average':3.0 , 'Good':4.0 , 'Very Good':5.0}

In [23]:
grade_key = {'3 Poor':3.0,
             '4 Low':4.0,
             '5 Fair':5.0,
             '6 Low Average':6.0,
             '7 Average': 7.0,
             '8 Good':8.0,
             '9 Better':9.0,
             '10 Very Good':10.0,
             '11 Excellent':11.0,
             '12 Luxury': 12.0,
             '13 Mansion':13.0}

In [24]:
df['condition'] = df['condition'].replace(condition_key)

In [25]:
df['grade'] = df['grade'].replace(grade_key)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   price          21597 non-null  float64
 1   bedrooms       21597 non-null  int64
 2   bathrooms      21597 non-null  float64
 3   sqft_living    21597 non-null  int64
 4   sqft_lot       21597 non-null  int64
 5   floors         21597 non-null  float64
 6   waterfront     21597 non-null  int64
 7   condition      21597 non-null  float64
 8   grade          21597 non-null  float64
 9   sqft_above     21597 non-null  int64
 10  sqft_basement  21597 non-null  int64
 11  month_sold     21597 non-null  int64
 12  year_sold      21597 non-null  int64
 13  age_when_sold  21597 non-null  int64
 14  recent_reno    21597 non-null  int64
dtypes: float64(5), int64(10)
memory usage: 2.5 MB

In [27]:
df['condition'].value_counts()

3.0    14020
4.0     5677
5.0     1701
2.0      170
1.0       29
Name: condition, dtype: int64

In [28]:
df['grade'].value_counts()

7.0     8974
8.0     6065
9.0     2615
6.0     2038
10.0    1134
11.0     399
5.0      242
12.0      89
4.0       27
13.0      13
3.0        1
Name: grade, dtype: int64

In [29]:
import numpy as np

import seaborn as sns
import statsmodels.api as sm
import scipy.stats as stats

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from statsmodels.formula.api import ols
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.model_selection import cross_validate, ShuffleSplit

In [ ]:
df['price'].max()

In [ ]:
df['bedrooms'].sort_values(ascending=False).head(10)

In [ ]:
df.describe()

In [30]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
price,21597.0,540296.573506,367368.140101,78000.0,322000.00,450000.00,645000.0,7700000.0
bedrooms,21597.0,3.373200,0.926299,1.0,3.00,3.00,4.0,33.0
bathrooms,21597.0,2.115826,0.768984,0.5,1.75,2.25,2.5,8.0
sqft_living,21597.0,2080.321850,918.106125,370.0,1430.00,1910.00,2550.0,13540.0
sqft_lot,21597.0,15099.408760,41412.636876,520.0,5040.00,7618.00,10685.0,1651359.0
floors,21597.0,1.494096,0.539683,1.0,1.00,1.50,2.0,3.5
waterfront,21597.0,0.006760,0.081944,0.0,0.00,0.00,0.0,1.0
condition,21597.0,3.409825,0.650546,1.0,3.00,3.00,4.0,5.0
grade,21597.0,7.657915,1.173200,3.0,7.00,7.00,8.0,13.0
sqft_above,21597.0,1788.596842,827.759761,370.0,1190.00,1560.00,2210.0,9410.0
sqft_basement,21597.0,291.725008,442.667800,0.0,0.00,0.00,560.0,4820.0
month_sold,21597.0,6.573969,3.115061,1.0,4.00,6.00,9.0,12.0
year_sold,21597.0,2014.322962,0.467619,2014.0,2014.00,2014.00,2015.0,2015.0
age_when_sold,21597.0,43.323841,29.376456,0.0,18.00,40.00,63.0,115.0
recent_reno,21597.0,0.017549,0.131307,0.0,0.00,0.00,0.0,1.0

In [31]:
df = df.drop('year_sold', axis=1)
df

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,condition,grade,sqft_above,sqft_basement,month_sold,age_when_sold,recent_reno
0,221900.0,3,1.00,1180,5650,1.0,0,3.0,7.0,1180,0,10,59,0
1,538000.0,3,2.25,2570,7242,2.0,0,3.0,7.0,2170,400,12,63,0
2,180000.0,2,1.00,770,10000,1.0,0,3.0,6.0,770,0,2,82,0
3,604000.0,4,3.00,1960,5000,1.0,0,5.0,7.0,1050,910,12,49,0
4,510000.0,3,2.00,1680,8080,1.0,0,3.0,8.0,1680,0,2,28,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,360000.0,3,2.50,1530,1131,3.0,0,3.0,8.0,1530,0,5,5,0
21593,400000.0,4,2.50,2310,5813,2.0,0,3.0,8.0,2310,0,2,1,0
21594,402101.0,2,0.75,1020,1350,2.0,0,3.0,7.0,1020,0,6,5,0
21595,400000.0,3,2.50,1600,2388,2.0,0,3.0,8.0,1600,0,1,11,0
21596,325000.0,2,0.75,1020,1076,2.0,0,3.0,7.0,1020,0,10,6,0

In [32]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
price,21597.0,540296.573506,367368.140101,78000.0,322000.00,450000.00,645000.0,7700000.0
bedrooms,21597.0,3.373200,0.926299,1.0,3.00,3.00,4.0,33.0
bathrooms,21597.0,2.115826,0.768984,0.5,1.75,2.25,2.5,8.0
sqft_living,21597.0,2080.321850,918.106125,370.0,1430.00,1910.00,2550.0,13540.0
sqft_lot,21597.0,15099.408760,41412.636876,520.0,5040.00,7618.00,10685.0,1651359.0
floors,21597.0,1.494096,0.539683,1.0,1.00,1.50,2.0,3.5
waterfront,21597.0,0.006760,0.081944,0.0,0.00,0.00,0.0,1.0
condition,21597.0,3.409825,0.650546,1.0,3.00,3.00,4.0,5.0
grade,21597.0,7.657915,1.173200,3.0,7.00,7.00,8.0,13.0
sqft_above,21597.0,1788.596842,827.759761,370.0,1190.00,1560.00,2210.0,9410.0
sqft_basement,21597.0,291.725008,442.667800,0.0,0.00,0.00,560.0,4820.0
month_sold,21597.0,6.573969,3.115061,1.0,4.00,6.00,9.0,12.0
age_when_sold,21597.0,43.323841,29.376456,0.0,18.00,40.00,63.0,115.0
recent_reno,21597.0,0.017549,0.131307,0.0,0.00,0.00,0.0,1.0

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   price          21597 non-null  float64
 1   bedrooms       21597 non-null  int64
 2   bathrooms      21597 non-null  float64
 3   sqft_living    21597 non-null  int64
 4   sqft_lot       21597 non-null  int64
 5   floors         21597 non-null  float64
 6   waterfront     21597 non-null  int64
 7   condition      21597 non-null  float64
 8   grade          21597 non-null  float64
 9   sqft_above     21597 non-null  int64
 10  sqft_basement  21597 non-null  int64
 11  month_sold     21597 non-null  int64
 12  age_when_sold  21597 non-null  int64
 13  recent_reno    21597 non-null  int64
dtypes: float64(5), int64(9)
memory usage: 2.3 MB

In [34]:
continuous = ['sqft_living' , 'sqft_lot' , 'sqft_above' , 'sqft_basement']

In [35]:
discrete = ['bedrooms' , 'bathrooms' , 'floors' , 'age_when_sold']

In [36]:
categorical = ['waterfront' , 'condition' , 'grade' , 'month_sold' , 'recent_reno']

In [ ]:
df.corr()

In [ ]:
plt.figure(figsize=(15,15))
#sns.heatmap(df.corr(), annot=True, square=True, cmap= "Blues", mask=np.triu(np.ones_like(df.corr(), dtype=bool)),)
sns.heatmap(df.corr(), annot=True, square=True, cmap= "Blues")

In [ ]:
df.corr()

In [ ]:
most_correlated = "sqft_living"

In [ ]:
df.dtypes

In [ ]:
#df['waterfront'] = df['waterfront'].apply(lambda x: 0 if False else 1)
#df['recent_reno'] = df['recent_reno'].apply(lambda x: 0 if False else 1)

In [ ]:
df.dtypes

In [ ]:
df.describe().transpose()

In [ ]:
#just trying stats models OLS here with all features to see what we get

In [ ]:
X = df.drop('price', axis=1)
y = df['price']

model = sm.OLS(y, sm.add_constant(X)).fit()
model.summary()

In [ ]:
#Quick model try above

In [ ]:
df.dtypes

In [ ]:
#establish baseline simple linear regression model using only most correlated feature

In [ ]:
fig, ax = plt.subplots()

ax.scatter(df[most_correlated], df['price'], alpha=0.5)
ax.set_xlabel(most_correlated)
ax.set_ylabel("price")
ax.set_title("Most Correlated Feature vs. Listing Price");

In [ ]:
baseline_model = LinearRegression()

In [ ]:

splitter = ShuffleSplit(n_splits=3, test_size=0.25, random_state=0)

baseline_scores = cross_validate(
    estimator=baseline_model,
    X=df[[most_correlated]],
    y=df['price'],
    return_train_score=True,
    cv=splitter
)

In [ ]:
baseline_scores

In [ ]:
print("Train score:     ", baseline_scores["train_score"].mean())
print("Validation score:", baseline_scores["test_score"].mean())

In [ ]:
## score improved.. but. what am i really doing up there. following lab

In [ ]:
df.dtypes

In [ ]:
scatterplot_data = df.drop("price",axis=1)

fig, axes = plt.subplots(ncols=3, nrows=5, figsize=(15, 20))
fig.set_tight_layout(True)

for index, col in enumerate(scatterplot_data.columns):
    ax = axes[index//3][index%3]
    ax.scatter(df[col], df["price"], alpha=0.2)
    ax.set_xlabel(col)
    ax.set_ylabel("price")

In [ ]:
second_model = LinearRegression()

second_model_scores = cross_validate(
    estimator=second_model,
    X=df.drop("price",axis=1),
    y=df['price'],
    return_train_score=True,
    cv=splitter
)

print("Current Model")
print("Train score:     ", second_model_scores["train_score"].mean())
print("Validation score:", second_model_scores["test_score"].mean())
print()
print("Baseline Model")
print("Train score:     ", baseline_scores["train_score"].mean())
print("Validation score:", baseline_scores["test_score"].mean())

In [ ]:
sm.OLS(df['price'], sm.add_constant(df.drop("price",axis=1))).fit().summary()

In [ ]:
#address multicollinearity first

In [ ]:
abs(df.corr()) > 0.75

In [ ]:
# save absolute value of correlation matrix as a data frame
# converts all values to absolute value
# stacks the row:column pairs into a multindex
# reset the index to set the multindex to seperate columns
# sort values. 0 is the column automatically generated by the stacking

dfcorr=df.corr().abs().stack().reset_index().sort_values(0, ascending=False)

# zip the variable name columns (Which were only named level_0 and level_1 by default) in a new column named "pairs"
dfcorr['pairs'] = list(zip(dfcorr.level_0, dfcorr.level_1))

# set index to pairs
dfcorr.set_index(['pairs'], inplace = True)

#d rop level columns
dfcorr.drop(columns=['level_1', 'level_0'], inplace = True)

# rename correlation column as cc rather than 0
dfcorr.columns = ['cc']

# drop duplicates. This could be dangerous if you have variables perfectly correlated with variables other than themselves.
# for the sake of exercise, kept it in.
dfcorr.drop_duplicates(inplace=True)

In [ ]:
dfcorr[(dfcorr.cc>.7) & (dfcorr.cc <1)]

In [ ]:
#these are interesting results. let's evaluate the pairs and eliminate sqft_above, year_sold

In [ ]:
df = df.drop(['sqft_above', 'year_sold'], axis=1)
df

In [ ]:
##use domain knowledge to choose features i want to use
#get rid year sold
#get rid of sq.ft above and sq.ft basementt because sq.living already accounts for that and probably causes much colinearity.
#get rid of

In [ ]:
sm.OLS(df['price'], sm.add_constant(df.drop("price",axis=1))).fit().summary()

In [ ]:
#better condition number but still something is very wrong
#probably cuz many of the features, while having numeric values, are not really continuous! they're more categorical

In [ ]:
df.columns

In [ ]:
numerical = ['sqft_living', 'sqft_lot','sqft_basement','age_when_sold']

In [ ]:
kindaboth = ['bedrooms', 'bathrooms', 'floors']

In [ ]:
categorical = ['waterfront', 'condition', 'grade', 'month_sold','recent_reno']

In [ ]:
for variable in (kindaboth+categorical):
    ax, figure = plt.subplots(1,1,figsize=(15,12))
    sns.boxplot(x=variable, y='price', data=df)
    plt.title("{} vs. price".format(variable))

In [ ]:
#lets get rid of thatt one data point with over 30 bedrooms what!? talk about outlier!

In [ ]:
df2 = df[df['bedrooms'] < 30]

In [ ]:
df2['sqft_basement'].value_counts()

In [ ]:
#df2['sqft_basement'] = df2['sqft_basement'].apply(lambda x: 1 if x > 0 else 0)

In [ ]:
df2.loc[df2['sqft_basement'] > 0, 'sqft_basement'] = 1

In [ ]:
df2

In [ ]:
df2.describe().transpose()

In [ ]:
df2

In [ ]:
#try dropping all categorical

In [ ]:
df3x = df2[(numerical+kindaboth)]
df3y = df2["price"]

In [ ]:
df3x

In [ ]:
df3y

In [ ]:
sm.OLS(df3y, sm.add_constant(df3x)).fit().summary()

In [ ]:
#yikes, this is going the wrong direction. we could have assumed that due to grade and condition being eliminated, which were the
#highest correlated features.

In [ ]:
#lets take a step back or try one hot encoding

In [ ]:
df2

In [ ]:
df2[kindaboth+categorical].nunique()

In [ ]:
df2[categorical].nunique()

In [ ]:
kindacat = kindaboth+categorical
kindacat

In [ ]:
kindacat.append('sqft_basement')

In [ ]:
df_categories = pd.DataFrame()

for cat in categorical:
    df_categories[cat]=df2[cat].astype('category')
    df_dummy = pd.get_dummies(df_categories[cat], prefix=cat, drop_first=True) 
    df_categories = df_categories.join(df_dummy)
    df_categories.drop(labels=cat, axis=1, inplace=True)

In [ ]:
df_categories = pd.DataFrame()

for cat in kindacat:
    df_categories[cat]=df2[cat].astype('category')
    df_dummy = pd.get_dummies(df_categories[cat], prefix=cat, drop_first=True) 
    df_categories = df_categories.join(df_dummy)
    df_categories.drop(labels=cat, axis=1, inplace=True)

In [ ]:
df_categories

In [ ]:
dfohe= df2.drop(categorical, axis=1)
dfohe = pd.concat([dfohe, df_categories], axis=1)
dfohe.info()

In [ ]:
dfohe= df2.drop(kindacat, axis=1)
dfohe = pd.concat([dfohe, df_categories], axis=1)
dfohe.info()

In [ ]:
sm.OLS(dfohe['price'], sm.add_constant(dfohe.drop("price",axis=1))).fit().summary()

In [ ]:
#not as good as I had hoped for... try the lab version again below

In [ ]:
third_model = LinearRegression()

third_model_scores = cross_validate(
    estimator=third_model,
    X=dfohe.drop("price",axis=1),
    y=dfohe['price'],
    return_train_score=True,
    cv=splitter
)

print("Current Model")
print("Train score:     ", third_model_scores["train_score"].mean())
print("Validation score:", third_model_scores["test_score"].mean())
print()

print("Second Model")
print("Train score:     ", second_model_scores["train_score"].mean())
print("Validation score:", second_model_scores["test_score"].mean())
print()

print("Baseline Model")
print("Train score:     ", baseline_scores["train_score"].mean())
print("Validation score:", baseline_scores["test_score"].mean())

In [ ]:
#on the right track, kind of. not good enough. try re-choosing best features and some transformations.

In [ ]:
# Run this cell without changes

from sklearn.feature_selection import RFECV
#from sklearn.preprocessing import StandardScaler

# Importances are based on coefficient magnitude, so
# we need to scale the data to normalize the coefficients
X_train_for_RFECV = StandardScaler().fit_transform(dfohe.drop("price",axis=1))

model_for_RFECV = LinearRegression()

# Instantiate and fit the selector
selector = RFECV(model_for_RFECV, cv=splitter)
selector.fit(X_train_for_RFECV, dfohe['price'])

# Print the results
print("Was the column selected?")
for index, col in enumerate(dfohe.drop("price",axis=1).columns):
    print(f"{col}: {selector.support_[index]}")

In [ ]:
#try out just the features sklearn chose

In [ ]:
RFECV_features = ['sqft_living',

'age_when_sold',
'bedrooms_4',

'floors_3.0',

'waterfront_1',

'condition_3.0',
'condition_4.0',
'condition_5.0',
'bathrooms_7.75',
'grade_7.0',
'grade_8.0',
'grade_9.0',
'grade_10.0',
'grade_11.0',
'grade_12.0',
'grade_13.0',
'recent_reno_1',
'sqft_basement_1']

In [ ]:
RFECV_features = ['bedrooms',
'bathrooms',
'sqft_living',
'sqft_lot',
'floors',
'sqft_basement',
'age_when_sold',
'waterfront_1',
'condition_3.0',
'condition_4.0',
'condition_5.0',
'grade_6.0',
'grade_7.0',
'grade_8.0',
'grade_9.0',
'grade_10.0',
'grade_11.0',
'grade_12.0',
'grade_13.0',
'month_sold_3',
'month_sold_4',
'month_sold_5',
'recent_reno_1']

In [ ]:
dfohe[RFECV_features]

In [ ]:
dfohe[RFECV_features].hist(figsize = (20,15));

In [ ]:
sm.OLS(dfohe['price'], sm.add_constant(dfohe[RFECV_features])).fit().summary()

In [ ]:
fourth_model = LinearRegression()

fourth_model_scores = cross_validate(
    estimator=fourth_model,
    X=dfohe[RFECV_features],
    y=dfohe['price'],
    return_train_score=True,
    cv=splitter
)

print("Current Model")
print("Train score:     ", fourth_model_scores["train_score"].mean())
print("Validation score:", fourth_model_scores["test_score"].mean())
print()

print("Third Model")
print("Train score:     ", third_model_scores["train_score"].mean())
print("Validation score:", third_model_scores["test_score"].mean())
print()

print("Second Model")
print("Train score:     ", second_model_scores["train_score"].mean())
print("Validation score:", second_model_scores["test_score"].mean())
print()

print("Baseline Model")
print("Train score:     ", baseline_scores["train_score"].mean())
print("Validation score:", baseline_scores["test_score"].mean())

In [ ]:
#marginal improvement. try transforms
len(dfohe)

In [ ]:
dfohe

In [ ]:
dfohe.info()

In [ ]:
dfohe.describe().transpose()

In [ ]:
dfohe.columns

In [ ]:
dfohe

In [ ]:
tolog = numerical+kindaboth
tolog

In [ ]:
tolog.remove('sqft_basement') #remove cuz 0's, alternative is to change to simple categorical
#tolog.remove('age_when_sold') #remove cuz 0's, alternative is to assign all 0 yr houses as 1 yr old.
tolog

In [ ]:
dfohe['age_when_sold'] = dfohe['age_when_sold'].apply(lambda x: .5 if x == 0 else x)
dfohe['sqft_basement'] = dfohe['sqft_basement'].apply(lambda x: 1 if x > 0 else 0)

In [ ]:
dfohe[tolog].hist(figsize = (20,15));

In [ ]:
dfohe

In [ ]:
numerical

In [ ]:
kindaboth

In [ ]:
categorical

In [ ]:
RFECV_features.remove("sqft_lot")

In [ ]:
RFECV_features.remove("floors")

In [ ]:
RFECV_features

In [ ]:
#redo test after removing columns

In [ ]:
sm.OLS(dfohe['price'], sm.add_constant(dfohe[RFECV_features])).fit().summary()

In [ ]:
dfohe['age_when_sold'] = dfohe['age_when_sold'].apply(lambda x: 1 if x == 0 else x)

In [ ]:
tolog = ['price','sqft_living']

In [ ]:
tolog = ['sqft_living']

In [ ]:
tolog = ['price']

In [ ]:
dfohelog = dfohe.copy()

In [ ]:
for feat in tolog:
    dfohelog[feat] = dfohelog[feat].map(lambda x: np.log(x))

In [ ]:
dfohelog.describe().transpose()

In [ ]:
dfohelog[tolog].hist(figsize = (20,15));

In [ ]:
sm.OLS(dfohelog['price'], sm.add_constant(dfohelog[RFECV_features])).fit().summary()

In [ ]:
sm.OLS(dfohelog['price'], sm.add_constant(dfohelog.drop("price",axis=1))).fit().summary()

In [ ]:
fifth_model = LinearRegression()

fifth_model_scores = cross_validate(
    estimator=fifth_model,
    X=dfohelog[RFECV_features],
    y=dfohelog['price'],
    return_train_score=True,
    cv=splitter
)

print("Current Model")
print("Train score:     ", fifth_model_scores["train_score"].mean())
print("Validation score:", fifth_model_scores["test_score"].mean())
print()

print("Fourth Model")
print("Train score:     ", fourth_model_scores["train_score"].mean())
print("Validation score:", fourth_model_scores["test_score"].mean())
print()

print("Third Model")
print("Train score:     ", third_model_scores["train_score"].mean())
print("Validation score:", third_model_scores["test_score"].mean())
print()

print("Second Model")
print("Train score:     ", second_model_scores["train_score"].mean())
print("Validation score:", second_model_scores["test_score"].mean())
print()

print("Baseline Model")
print("Train score:     ", baseline_scores["train_score"].mean())
print("Validation score:", baseline_scores["test_score"].mean())

In [ ]:
#didn't get better with transformations on numerical dependent variables alone, let do log of price

In [ ]:
dfohelog['price'] = dfohelog['price'].map(lambda x: np.log(x))

In [ ]:
dfohelog['price'].hist(figsize = (6,6));

In [ ]:
sm.OLS(dfohelog['price'], sm.add_constant(dfohelog[RFECV_features])).fit().summary()

In [ ]:
#we continue to go in the wrong direction, we should backtrack and re-start from an earlier step where we had dfohe

In [ ]:
dfohe

In [ ]:
dfohe.describe().transpose()

In [ ]:
numerical

In [ ]:
kindaboth

In [ ]:
categorical

In [ ]:
numerical.remove('sqft_basement')

In [ ]:
categorical.append('sqft_basement')

In [ ]:
numerical

In [ ]:
kindaboth

In [ ]:
categorical

In [ ]:
dfohelog2 = dfohe.copy()
dfohelog2['price'] = dfohelog2['price'].map(lambda x: np.log(x))

In [ ]:
#try just log transform of the Y

In [ ]:
sm.OLS(dfohelog2['price'], sm.add_constant(dfohelog2[RFECV_features])).fit().summary()

In [ ]:
#eh not better, let's try scaling instead

In [ ]:
toscale = ['sqft_living','age_when_sold']

In [ ]:
dfoheminmax = dfohe.copy()

for feature in toscale:
    d_min = dfoheminmax[feature].min()
    d_max = dfoheminmax[feature].max()
    dfoheminmax[feature] = (dfoheminmax[feature] - d_min) / (d_max - d_min)

In [ ]:
dfoheminmax

In [ ]:
dfoheminmax.describe().transpose()

In [ ]:
sm.OLS(dfoheminmax['price'], sm.add_constant(dfoheminmax[RFECV_features])).fit().summary()

In [ ]:
RFECV_features.remove('condition_3.0')

In [ ]:
sm.OLS(dfoheminmax['price'], sm.add_constant(dfoheminmax[RFECV_features])).fit().summary()

In [ ]:
#try standard scalar

In [ ]:
dfohestd = dfohe.copy()

for feature in toscale:
    dfohestd[feature] = (dfohestd[feature]-np.mean(dfohestd[feature]))/np.sqrt(np.var(dfohestd[feature]))

In [ ]:
sm.OLS(dfohestd['price'], sm.add_constant(dfohestd[RFECV_features])).fit().summary()

In [ ]:
#not helping

In [ ]:
dfohestd

In [ ]:
dfohestd.describe().transpose()

In [ ]:
dfoheminmax[numerical+kindaboth].hist(figsize = (20,15));

In [ ]:
tolog

In [ ]:
dfohelog

In [ ]:
dfohelogscale = dfohelog.copy()

for feature in toscale:
    dfohelogscale[feature] = (dfohelogscale[feature]-np.mean(dfohelogscale[feature]))/np.sqrt(np.var(dfohelogscale[feature]))

In [ ]:
dfohelogscale

In [ ]:
sm.OLS(dfohelogscale['price'], sm.add_constant(dfohelogscale[RFECV_features])).fit().summary()

In [ ]:
RFECV_features

In [ ]:
RFECV_features.remove('sqft_lot')

In [ ]:
RFECV_features.remove('floors')

In [ ]:
RFECV_features.remove('bathrooms')